<head>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>

<app-spinner-loader *ngIf="cargando"></app-spinner-loader>
<body id="bod">
  <button id="btn-home" (click)="volver()">
    <mat-icon>home</mat-icon>Home
  </button>
  <div class="center">
    <div class="body2">
      <h4>Inicio de Sesion</h4>
      <div class="img-fondo"></div>
      <div class="formulario">
        <div class="user">
          <input
            type="text"
            class="username"
            [(ngModel)]="usuario.username"
            placeholder="Username"
          />
        </div>
        <div class="pass">
          <input
            [type]="show_button ? 'text' : 'password'"
            class="password"
            [(ngModel)]="usuario.password"
            placeholder="Password"
          />
          <mat-icon
            class="eye"
            (click)="changeicon()"
            style="cursor: pointer"
            >{{ show_eye ? "visibility_off" : "visibility" }}</mat-icon
          >
        </div>

        <button class="login-btn" (click)="login()">Ingresar</button>
      </div>

      <div class="target-btn">
        
        <label [routerLink]="['/reg_dato_psicologo']"  class="register-btn">
          No tienes una cuenta? Registrese aqui!
        </label>
      </div>
    </div>
  </div>
</body>
