
<div class="padre">

<div class="cuerpouno">
     
       <button (click)="volver()"><mat-icon >home</mat-icon>Home</button>
     
</div>


<div class="cuerpodos">
          
      
    <div class="cuerpodos-cont">
          <header class="headerdos">
                 <h2> Registre su consulta</h2>
            </header>
           



<mat-horizontal-stepper class="stepperhz" [linear]="!isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Motivo</ng-template>
                        <body>
                            <input type="checkbox" formControlName="firstCtrl" [checked]="ischeck" id="checkprincipal" />

                            <div class="wrapper">
                                <div class="container">
                                    <label class="option_item">
                                        <input type="checkbox" class="checkbox" (click)="seleccionaritems(1)" />
                                        <div class="option_inner alimentacion" id="alimentacion">
                                            <div class="alimentacion card-style"></div>
                                            <div class="name">Alimentacion</div>
                                        </div>
                                    </label>
                                    <label class="option_item">
                                        <input type="checkbox" class="checkbox" (click)="seleccionaritems(2)" />
                                        <div class="option_inner ansiedad" id="ansiedad">
                                            <div class="ansiedad card-style"></div>
                                            <div class="name">Ansiedad</div>
                                        </div>
                                    </label>
                                    <label class="option_item">
                                        <input type="checkbox" class="checkbox" (click)="seleccionaritems(3)" />
                                        <div class="option_inner depresion" id="depresion">
                                            <div class="depresion card-style"></div>
                                            <div class="name">Depresion</div>
                                        </div>
                                    </label>
                                    <label class="option_item">
                                        <input type="checkbox" class="checkbox" (click)="seleccionaritems(4)" />
                                        <div class="option_inner suicidio" id="suicidio">
                                            <div class="suicidio card-style"></div>
                                            <div class="name">Suicidio</div>
                                        </div>
                                    </label>
                                    <label class="option_item">
                                        <input type="checkbox" class="checkbox" (click)="seleccionaritems(5)" />
                                        <div class="option_inner familiar" id="familiar">
                                            <div class="familiar card-style"></div>
                                            <div class="name">Familiar</div>
                                        </div>
                                    </label>
                                  
                                    
                                </div>
                            </div>
                        </body>

                        <div class="btn-block-prob">
                            <button mat-raised-button  class="btn-step" (click)="crearlista2()" matStepperNext>Siguiente</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Tipo de Paciente</ng-template>
                        <body>
                            <input type="checkbox" formControlName="secondCtrl"  id="checksecundario" />

                            <div class="wrapper">
                                
                                <div class="container">
                                    <label class="option_item">
                                        <input type="checkbox" class="checkbox" (click)="seleccionaredad(1)" />
                                        <div class="option_inner mayor" id="mayor">
                                            <div class="mayor card-style"></div>
                                            <div class="name">Mayor</div>
                                        </div>
                                    </label>
                                    <label class="option_item">
                                        <input type="checkbox" class="checkbox" (click)="seleccionaredad(2)" />
                                        <div class="option_inner adulto" id="adulto">
                                            <div class="adulto card-style"></div>
                                            <div class="name">Adulto</div>
                                        </div>
                                    </label>
                                    <label class="option_item">
                                        <input type="checkbox" class="checkbox" (click)="seleccionaredad(3)" />
                                        <div class="option_inner joven" id="joven">
                                            <div class="joven card-style"></div>
                                            <div class="name">Joven</div>
                                        </div>
                                    </label>
                                    <label class="option_item">
                                        <input type="checkbox" class="checkbox" (click)="seleccionaredad(4)" />
                                        <div class="option_inner niño" id="niño">
                                            <div class="niño card-style"></div>
                                            <div class="name">Niño</div>
                                        </div>
                                    </label>
                                  
                                </div>
                            </div>
                        </body>

                        <div class="btn-block-prob">
                             <button mat-raised-button id="cancelbtn" class="btn-step" matStepperPrevious>Back</button>
                             <button mat-raised-button   class="btn-step" matStepperNext>Siguiente</button>
                        </div>
                        
                            
                        
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Datos</ng-template>
                       <form [formGroup]="registerform" class="login-form">
                            <mat-form-field   class="example-full-width " appearance="fill">
                              <mat-label >Nombres(*)</mat-label>
                              <input matInput formControlName="nombre" placeholder="Jorge Benavides" >
                              	<mat-error *ngIf="registerform.get('nombre').hasError('required')" >*requerido</mat-error>
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field >
                             <mat-form-field   class="example-full-width" appearance="fill">
                              <mat-label>Apellidos(*)</mat-label>
                              <input matInput formControlName="apellido" placeholder="Soledad Lopez" >
                              	<mat-error *ngIf="registerform.get('apellido').hasError('required')" >*requerido</mat-error>
                                <mat-icon matSuffix>person_outline</mat-icon>
                            </mat-form-field>
                             <mat-form-field  class="example-full-width" appearance="fill">
                              <mat-label>Correo electronico(*)</mat-label>
                              <input matInput  formControlName="correo" placeholder="example@gmail.com" >
                              	<mat-error *ngIf="registerform.get('correo').hasError('required')" >*requerido</mat-error>
                                  	<mat-error *ngIf="registerform.get('correo').hasError('email')" >*Introdusca un correo valido</mat-error>
                              <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                            <mat-form-field   class="example-full-width" appearance="fill">
                                <mat-label>Genero</mat-label>
                                <mat-icon matSuffix>group</mat-icon>
                                <mat-select  formControlName="genero">
                                  <mat-option value="H">
                                    Hombre
                                  </mat-option>
                                  <mat-option value="M">
                                    Mujer
                                  </mat-option>
                                </mat-select>
                                	
                              </mat-form-field>
                             <mat-form-field  class="example-full-width" appearance="fill">
                              <mat-label>Telefono(*)</mat-label>
                              <input matInput formControlName="telefono" type="number"   onKeyPress="if(this.value.length==9) return false;" placeholder="999999999" >
                              	<mat-error *ngIf="registerform.get('telefono').hasError('required')" >*requerido</mat-error>
                                 <mat-icon matSuffix>call</mat-icon>
                            </mat-form-field>
                             <mat-form-field   class="example-full-width" appearance="fill">
                              <mat-label>Dni</mat-label>
                              <input matInput type="number"   onKeyPress="if(this.value.length==8) return false;"  formControlName="dni" placeholder="88888888" >
                                <mat-icon matSuffix>payment</mat-icon>
                            </mat-form-field>

                            <mat-form-field  class="large" appearance="fill">
                              <mat-label>Descripcion(*)</mat-label>
                               <mat-icon matSuffix>description</mat-icon>
                              <textarea matInput [formControl]="descripcion2" placeholder="El motivo de la consulta presente es para ....."></textarea>
                              	<mat-error *ngIf="descripcion2.hasError('required')" >*requerido</mat-error>
                            </mat-form-field>
	                       
                          
	                       
	                      
                        </form>
                    <div class="btn-block-prob">
                        <button mat-raised-button id="cancelbtn"   class="btn-step" matStepperPrevious>Back</button>
                        <button mat-raised-button  class="btn-step" [disabled]="registerform.invalid" (click)="guardarpaciente();stepper.reset()">Registrarse</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>

           
          
            
          
          </div>
            
</div>

</div>
