* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.fondo {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url("../registros/registro-paciente/imgPac/image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* parte por modificar */
.card-principal {
  width: 53vw;

  padding: 20px;

  height: 95vh;
}
/*margin-left: 730px;
 */
.card-content {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 10px #666;
  background-color: white;
  border-radius: 40px;
}

.header-tittle {
  display: flex;
  align-items: center;

  justify-content: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 100% inherit;
  height: 60px;
background-color: #edc261;

  color: #ffffff;
}
.header-tittle h2 {
  font-weight: 400;
  font-size: 25px;

}

/* estilos al button volver al Home   */
.button-return {
  width: 47vw;

  background-repeat: no-repeat;
  background-size: 100% 100%;

  height: 100vh;
}
.button-return button {
  border: none;
  background-color: rgba(0, 0, 0, 0);

  width: 90px;
  color: white;
  font-weight: bold;
  height: 30px;
  display: flex;
  align-items: center;
  font-style: normal;
  margin-top: 40px;
  margin-left: 150px;
  transition: 100ms ease;
}

.button-return button:hover {
  border-bottom: 4px solid white;
}
.button-return button mat-icon {
  margin-right: 5px;
  margin-bottom: 7px;
}
.personaldata{

  width: 100%;
  padding: 20px;
  display: flex;
  height: 80%;
  flex-direction:column;
}
.personaldata mat-icon{
  color: #00a99d;
}
.example-full-width{
  margin-left: 10px;
  margin-right:   10px;
  width: 45%;
}

.tipoesp{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 40px;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
}
.tipoesp label{
  font-weight: bold;
  font-size: 18px;
  color: darkcyan;
}

mat-horizontal-stepper{
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.btngroup{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.siguiente{
  background-color: darkcyan !important;
  color: white;
  margin-right: 50px;

}
.siguiente mat-icon{
  margin-left: 5px;
}

.horarioadd{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.horarioadd label{
  font-size: 18px;
  font-weight: bold;
  
  margin-right: 10px;
}
.horarioadd input{
  margin-right: 20px;
}
.horarioadd .boton{
  background-color: cadetblue;
  padding-left: 4px;
  padding-right: 10px;
  color: white;
}

ul{
 list-style: none;margin-top: 20px;margin-left: 20px;
}
li{
  display: flex;align-items: center;height: 40px;border-radius: 10px;padding-left: 20px;
  margin-bottom: 15px;
background: linear-gradient(cadetblue,#dabd7b);
}

.atras{
  background-color: teal;
  color: white;
}

.form2horario{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 65vh;
}

.savebtn{
  background-color: #edc261;
  
  color: white;
  margin-left: 15px;
  
}