* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }

  body{
      width: 100%;
      height: 100%;
      background-color:#f1f0f6;
      padding-top: 5vh;


  }
  .imgback{
    width: 13.5vw;
    height: 29.5vh;
    top: 14vh;
    opacity: 0;
    left: 12vw;
    display: flex;
    margin: 20px auto 0px auto;
  border-radius: 50%;
    transition: ease;
    position: absolute;
    z-index: 3;
   
    transition-duration: 0.5s; 
  }
  .imgback:hover{
      opacity: 1;
      background: url('upload.gif') rgba(117, 117, 116, 0.4);
      background-size: cover;
      background-position:50% 50%;
      background-repeat: no-repeat;
  }
.circular-img{
    width: 17%;
    height: 30vh;
    display: flex;
    margin: 20px auto 0px 30px;
    
  
 
}
.profilename{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}
.fotoclass{
    width: 100%;
   display: flex;
   
    height: 100%;
}
.circular-img img{
  border-radius: 50%;
    width: 98%;
    height: 100%;
    border: 3px solid white ;
    
}


.schooldata{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:20px;
    width: 100%;
    height: 35%;
  
 color: white;
    margin-top: 10px;
}

.schooldata div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.schooldata label{
    display: flex;
    align-items: center;
    margin-right: 20px;
    
}
.schooldata input{
    padding-left: 10px;
    border-radius: 10px;
}
.toplist{
    padding-top: 80px;
    
}
ul{
    display: flex;

    
   }
   li a{
       width: 200px;
       text-decoration: none;
       padding-top: 10px;
       padding-right: 10px;
       font-size: large;
       padding-left: 10px;
       padding-bottom: 10px;
       font-weight: bold;
       color: black;
   }
   
 .datapersonal{
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     height: 35%;
     padding-top: 10px;
     padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;
 }



 mat-icon{
     color: #fab044;;
     margin-right: 10px;
 }
 .card-body{
    width: 85vw;
    height: 80vh;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px #666;
    background-color: white;

}

 .cardrigth{
     width: 100%;
     height: 30%;
     background: #363443;
    
 }
.cardleft{
    width: 100%;
   
    padding-left: 10px;
    padding-top: 30px;
    padding-right: 10px;
    height: 70%;
}
h3{
    color: white;
    font-weight: bold;
    margin: 25px 0px 0px 20px;
}




input{
    border:none;
    outline: none;
}
.item{
    display: flex;
    width: 49%;
    height: 30px;
    margin-right: 15px;
    margin-bottom: 15px ;
    align-items: center;
}
.item label{
    display: flex;
    margin-right: 15px;
    align-items: center;
}

fieldset{
    width: 49%;
}

.horarioadd{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .horarioadd label{
  
    
    margin-right: 10px;
  }
  .horarioadd input{
    margin-right: 20px;
  }
  .horarioadd .boton{
    background-color: cadetblue;
    padding-left: 4px;
    padding-right: 10px;
    color: white;
  }
  
  ul{
   list-style: none;
   margin-top: 20px;
   margin-left: 20px;
   display: flex;
   height: 200px;
   max-height: 200px;
   overflow-y:scroll;
   padding: 10px;
   flex-direction: column;
  }
  li{
    display: flex;align-items: center;height: 40px;border-radius: 10px;padding-left: 20px;
    min-height: 40px;
    margin-bottom: 15px;
    width: 100%;
  background: #fab044;
  }

  .savebtns{
      width: 100%;
      display: flex;
      justify-content: flex-start;

  }
  
  .editbtn{
    background-color: #363443;
    width: 7vw;
    border-radius: 10px;
    height: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
  }
  .editbtn mat-icon{
      margin-left: 8px;
  }

  .btn1{
   
    background-color: rgb(209, 68, 68);
    width: 7vw;
    border-radius: 10px;
    height: 30px;
   
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
  }
.btn2{
    background-color:  #3a94bb;
    width: 7vw;
    border-radius: 10px;
    height: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: white;
}


.p-tabview .p-tabview-nav {
    margin-left: 50px !important;
}