<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>

<body>

  <div class="card-body">

    <div class="cardrigth">
      <div class="fotoclass">
       
      
        <div class="circular-img" >
          <img  id="imagendeperfil" >
        </div>
        <div class="profilename">
          <h3>{{nombrecompleto}}</h3>
          <div style="margin-left: 20px;margin-top: 10px;color: yellow;display: flex; align-items: center;">
               <label style="margin-right: 10px;">Puntaje Actual: </label>
            <p-rating [ngModel]="val" readonly="true" stars="5" [cancel]="false" ></p-rating>
          </div>

          <div style="margin-left: 22px;margin-top: 10px;color: white;display: flex; align-items: center;">
             <label style="margin-right: 10px;" >Subir foto:</label>
            <button pButton pRipple style="display: flex;align-items: center;" type="button" (click)="subirfoto()" icon="pi pi-cloud-upload" [disabled]="!archivo"  class="p-button-rounded p-button-success"></button>
          </div>
         
          <div class="imgback" >
            <input type="file" accept=".jpg, .png, .jpeg" style="opacity: 0; width: 100%;height: 100%;cursor: pointer;" [(ngModel)]="foto"  (change)="mostrar($event)">
          </div>
   
        </div>
        
          
      
  
      </div>
    
     
    
    </div>
    <div class="cardleft">
      
      
  <p-tabView styleClass="tabview-custom" >
    <p-tabPanel>
        <ng-template pTemplate = "header" style="margin-left: 50px;">
            <mat-icon class="mat-18" style="color: white;">person</mat-icon>
            <span>Personal</span>
        </ng-template>
        <form [formGroup]="registerform" class="datapersonal">
          <fieldset [disabled]="!editstate">
            <div class="item">
              <label><mat-icon matSuffix>person</mat-icon> Nombres: </label>
              <input type="text" formControlName="nombre" style="text-transform:
                capitalize;" placeholder="Mario Llori Santiago">
            </div>
          </fieldset>
          <fieldset [disabled]="!editstate">
            <div class="item">
              <label> <mat-icon matSuffix>email</mat-icon>Correo: </label>
              <input formControlName="correo" type="text"
                placeholder="example@upeu.edu.pe">
            </div>
          </fieldset>
          <fieldset [disabled]="!editstate">
            <div class="item">
              <label><mat-icon matSuffix>person_outline</mat-icon>Apellidos:
              </label>
              <input type="text" formControlName="apellido" style="text-transform:
                capitalize;" placeholder="Mario Llori Santiago">
            </div>
          </fieldset>
          <fieldset [disabled]="!editstate">
            <div class="item">
              <label> <mat-icon matSuffix>call</mat-icon>Telefono: </label>
              <input type="text" formControlName="telefono" type="number"
                onKeyPress="if(this.value.length==9) return false;"
                placeholder="999999999">
            </div>
          </fieldset>
          <fieldset [disabled]="!editstate">
            <div class="item">
              <label> <mat-icon matSuffix>hourglass_full</mat-icon>Edad: </label>
              <input type="number" formControlName="edad"
                placeholder="99">
            </div>
          </fieldset>
          <fieldset [disabled]="!editstate">
            <div class="item">
              <label><mat-icon matSuffix>wc</mat-icon>Genero :</label>
              <select formControlName="genero">
                <option value="H">Hombre</option>
                <option value="M">Mujer</option>
              </select>
  
            </div>
          </fieldset>
          <div *ngIf="!editstate" class="savebtns">
            <button (click)="activar()" class="editbtn">
              Editar 
            </button>
          </div>
  
  
          <div *ngIf="editstate" class="savebtns">
            <button (click)="desactive()" class="btn1">
              <mat-icon matSuffix>block</mat-icon> Cancelar
            </button>
            <button (click)="save()" class="btn2">
              <mat-icon matSuffix>save</mat-icon> Guardar
            </button>
          </div>
  
  
  
  
        </form>
    </p-tabPanel>
    <p-tabPanel header="Header II">
        <ng-template pTemplate = "header">
          <mat-icon class="mat-18" style="color: darkslateblue;">school</mat-icon>
            <span>Academico</span>
        </ng-template>
        <form class="datapersonal" *ngIf="tipo=='estudiante'">
          <fieldset [disabled]="!editstate2">
            <div class="item">
              <label><mat-icon matSuffix>school</mat-icon> Ciclo: </label>
              <input type="text" [(ngModel)]="personal.ciclo" name="ciclo" style="text-transform:
                capitalize;" placeholder="1">
            </div>
          </fieldset>
          <fieldset [disabled]="!editstate2">
            <div class="item">
              <label> <mat-icon matSuffix>groups</mat-icon>Grupo: </label>
              <input [(ngModel)]="personal.grupo" name="grupo" type="text"
               >
            </div>
          </fieldset>
          <fieldset [disabled]="!editstate2">
            <div class="item">
              <label><mat-icon matSuffix>qr_code_2</mat-icon>Codigo:
              </label>
              <input type="text" [(ngModel)]="personal.codigo" name="codigo" style="text-transform:
                capitalize;" >
            </div>
          </fieldset>

          <div *ngIf="!editstate2" class="savebtns">
            <button (click)="activar2()" class="editbtn">
              Editar 
            </button>
          </div>
  
          
    
    
          <div *ngIf="editstate2" class="savebtns">
            <button (click)="desactive2()" class="btn1">
              <mat-icon matSuffix>block</mat-icon> Cancelar
            </button>
            <button (click)="save2()" class="btn2">
              <mat-icon matSuffix>save</mat-icon> Guardar
            </button>
          </div>
        </form>
  
  
        <form class="datapersonal" *ngIf="tipo=='pastor'">
          <fieldset [disabled]="!editstate2">
            <div  class="item">
              <label><mat-icon matSuffix>work</mat-icon> Campo: </label>
              <input type="text" [(ngModel)]="personal.campo" name="campo" style="text-transform:
                capitalize;" >
            </div>
          </fieldset>
          <fieldset [disabled]="!editstate2">
            <div  class="item">
              <label> <mat-icon matSuffix>location_city</mat-icon>Distrito: </label>
              <input [(ngModel)]="personal.distrito" name="distrito"  type="text"
               >
            </div>
          </fieldset>
          
          <div *ngIf="!editstate2" class="savebtns">
            <button (click)="activar2()" class="editbtn">
              Editar 
            </button>
          </div>
  
    
    
          <div *ngIf="editstate2" class="savebtns">
            <button (click)="desactive2()" class="btn1">
              <mat-icon matSuffix>block</mat-icon> Cancelar
            </button>
            <button (click)="save2()" class="btn2">
              <mat-icon matSuffix>save</mat-icon> Guardar
            </button>
          </div>
        </form>
  
        <form class="datapersonal" *ngIf="tipo=='psicologo'" style="margin-top: 0px;">
          <fieldset [disabled]="!editstate2">
            <div  class="item">
              <label><mat-icon matSuffix>account_balance</mat-icon> Universidad: </label>
              <input type="text"  [(ngModel)]="personal.universidad" name="universidad" style="text-transform:
                capitalize;" >
            </div>
          </fieldset>
          <fieldset [disabled]="!editstate2">
            <div  class="item">
              <label> <mat-icon matSuffix>grade</mat-icon>Especialidad: </label>
              <input  [(ngModel)]="personal.especialidad" name="correo" type="text"
                >
            </div>
          </fieldset>
          <fieldset [disabled]="!editstate2">
            <div  class="item">
              <label><mat-icon matSuffix>pin</mat-icon>Colegiatura:
              </label>
              <input type="text"  [(ngModel)]="personal.n_colegiatura" name="num" style="text-transform:
                capitalize;" >
            </div>
          </fieldset>
          <fieldset [disabled]="!editstate2">
            <div  class="item">
              <label><mat-icon matSuffix>history_edu</mat-icon>Grado Academico:
              </label>
              <input type="text"  [(ngModel)]="personal.grado_academico" name="grado" style="text-transform:
                capitalize;" >
            </div>
          </fieldset>
         
          <div *ngIf="!editstate2" class="savebtns">
            <button (click)="activar2()" class="editbtn">
              Editar 
            </button>
          </div>
  
    
          <div *ngIf="editstate2" class="savebtns"  style="margin-top: 0;">
            <button (click)="desactive2()" class="btn1">
              <mat-icon matSuffix>block</mat-icon> Cancelar
            </button>
            <button (click)="save2()" class="btn2">
              <mat-icon matSuffix>save</mat-icon> Guardar
            </button>
          </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Header III">
        <ng-template pTemplate = "header">
          <mat-icon class="mat-18" style="color: cornflowerblue;">schedule</mat-icon>
            <span>Horarios</span>
           
        </ng-template>
        <form style="padding: 10px;">
          <div class="horarioadd">
            <label>Dia:</label>
            <select [(ngModel)]="dia" style="width: 150px;height:
              30px;margin-right: 30px;" name="dia">
              <option value="null" selected></option>
              <option *ngFor="let d of dias" value="{{d}}">{{d}}</option>
            </select>
  
            <label>H.Inicio:</label>
            <input type="time" placeholder="9:00 - 2:00" [(ngModel)]="horai"
              name="hora">
            <label>H.Fin:</label>
            <input type="time" placeholder="9:00 - 2:00" [(ngModel)]="horaf"
              name="hora">
  
            <button mat-button type="button" class="boton" [disabled]="!dia ||
              !horai || !horaf" (click)="agregarhorario()"><mat-icon>add</mat-icon>
              Agregar</button>
          </div>
          <ul>
            <li *ngFor="let horario of horarios">
              <mat-icon style="color: white;margin-right: 20px;">check</mat-icon>
              <label style="margin-left: 10%;">{{horario.dia}}</label>
              <label style="margin-left: 20%;">{{horario.horai + ' - ' +
                horario.horaf}}</label>
              <mat-icon style="margin-left: 30%;cursor: pointer; color: red;"
                (click)="eliminarhor(horario.idhorario,horario.dia)">delete</mat-icon>
            </li>
          </ul>
  
  
        </form>
    </p-tabPanel>
</p-tabView>


    </div>







  </div>


</body>
