
<head>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> 
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>

    
    <div class="content">
        <div class="reports">
            <h6>Reportes generales </h6>
            <div class="report-search">
                <div class="fechas-cont" style="width: 40%;">
                    <div  class="fechas flexc" style="margin-right: 40px;">
                        <label style="font-size: 13px;margin-bottom: 0;color: #afb9c2;margin-left: 5px;font-weight: 600;">Tipo:</label>
                        <div class="inputdate">
                            <select  [(ngModel)]="opcion2" (change)="get_todos_por_opcion()" class="datestyle">
                                <option value="estudiante" >Estudiantes</option>
                                <option value="psicologo" >Psicologos</option>
                                <option value="todos" >General</option>
                            </select>
                        </div>
                       </div>
                       <div  class="fechas flexc">
                        <label style="font-size: 13px;margin-bottom: 0;color: #afb9c2;margin-left: 5px;font-weight: 600;">Sede:</label>
                        <div class="inputdate">
                            <select  [(ngModel)]="sede2" (change)="get_todos_por_opcion()" class="datestyle" >
                                <option value="UPeU Lima" >UPeU Lima</option>
                                <option value="UPeU Juliaca" >UPeU Juliaca</option>
                                <option value="UPeU Tarapoto" >UPeU Tarapoto</option>
                                <option value="todos" >General</option>
                            </select>
                        </div>
                       </div>
                  
                </div>
                <div class="search" style="width: 60%;">
                    <div  class="fechas">
                        <label style="font-size: 13px;margin-bottom: 0;color: #afb9c2;margin-left: 5px;font-weight: 600;">Fecha de Inicio:</label>
                        <div class="inputdate">
                            <i class="fas fa-calendar-alt"></i>
                            <input type="date" class="datestyle" [(ngModel)]="fechai">
                        </div>
                       </div>
                       <div class="fechas">
                        <label  style="font-size: 13px;margin-bottom: 0;color: #afb9c2;margin-left: 5px;font-weight: 600;">Fecha  Fin:</label>
                        <div class="inputdate">
                            <i class="fas fa-calendar-alt"></i>
                            <input type="date" class="datestyle" [(ngModel)]="fechaf">
                        </div>
                       </div>
                      
                       
                    
                        <button type="button" (click)="get_todos_por_opcion_fecha()" class="btn-search" 
                            [disabled]="!fechai && !fechaf">Buscar </button>
                </div>
            </div>
          
        
            
            <div style="padding-top: 25px;display: flex;flex-wrap: wrap;    
            justify-content: space-around;">
                <div class="info-personal flexr">
                    <i class="fas fa-flag-checkered  icon"  ></i>
                    <div class="flexc">
                        <label for="">{{finalizadas}}</label>
                        <label class="fb"  for="">Consultantes Atendidos</label>
                    </div>
                </div>
                <div class="info-personal flexr">
                    <i class="fas fa-flag-checkered  icon"  ></i>
                    <div class="flexc">
                        <label for="">{{derivacionpsi}}</label>
                        <label class="fb"  for="">Derivados a Psicólogos</label>
                    </div>
                </div>
                <div class="info-personal flexr">
                    <i class="fas fa-frown  icon"></i>
                    <div class="flexc">
                        <label for="">{{canceladas}}</label>
                        <label class="fb" for="">Consultantes Cancelados</label>
                    </div>
                </div>
                <div class="info-personal flexr">
                    <i class="fas fa-spinner  icon" ></i>
                    <div class="flexc">
                        <label for="">{{enproceso}}</label>
                        <label  class="fb" for="">Consultas en proceso</label>
                    </div>
                </div>
                <div class="info-personal flexr">
                    <i class="fas fa-clock  icon" ></i>
                    <div class="flexc">
                        <label for="">{{derivacionext}}</label>
                        <label  class="fb" for="">Derivados a  externos</label>
                    </div>
                </div>
            </div>
          
               
          
        </div>

        <div class="report_total">
            <h6>
                Total de solicitudes ({{totalH + totalM}})
            </h6>
            <div  class="content-h-m">
                <div class="h flexc" >    
                    <label  class="lab">Hombres ➜ {{totalH + ' ' + 'solicitudes'}}</label>
                    <div class="chart" style="width: 300px;height: 200px;">
                        
                        <canvas baseChart 
                              
                                [data]="pieChartDataH"
                                [type]="pieChartType"
                                [options]="pieChartOptions"
                               >
                        </canvas>
                      </div>
                </div>
                <div class="m flexc" >
                    <label class="lab" >Mujeres ➜ {{totalM + ' ' + 'solicitudes'}}</label>
                    <div class="chart"  style="width: 300px;height: 200px;">
                        <canvas baseChart  
                                [data]="pieChartDataM"
                                [type]="pieChartType"
                                [options]="pieChartOptions"
                               >
                        </canvas>
                      </div>
                </div>
                <div class="re flexc" >
                    <label class="lab" >Reigresos ➜ {{reingresos}}</label>
                </div>
            </div>
            

        </div>

     
        <div class="list-psi" >
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Lista de voluntarios</a>
                  <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Puntuacion </a>
                
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="flexr" style="width: 40%;   
                    z-index: 4;
                    position: absolute;
                    left: 20px;
                    top: 65px;">
                        <div  class="fechas flexc" style="margin-right: 40px;">
                            <label style="font-size: 13px;margin-bottom: 0;color: #afb9c2;margin-left: 5px;font-weight: 600;">Tipo:</label>
                            <div class="inputdate">
                                <select  [(ngModel)]="opcion" (change)="get_personal_sede()" class="datestyle" >
                                    <option value="estudiante" >Estudiante</option>
                                    <option value="psicologo" >Psicologo</option>
                                </select> 
                            </div>
                           </div>
                           <div  class="fechas flexc">
                            <label style="font-size: 13px;margin-bottom: 0;color: #afb9c2;margin-left: 5px;font-weight: 600;">Sede:</label>
                            <div class="inputdate">
                                <select  [(ngModel)]="sede" (change)="get_personal_sede()" class="datestyle" >
                                    <option value="UPeU Lima" >UPeU Lima</option>
                                    <option value="UPeU Juliaca" >UPeU Juliaca</option>
                                    <option value="UPeU Tarapoto" >UPeU Tarapoto</option>
                                    <option value="Otro" >Otro</option>
                                </select>
                            </div>
                           </div>
                      
                    </div>
        
                    
                   
                   <div class="list_vol">
                    <table datatable id="list_vol" [dtOptions]="dtOptions" class="tablaxd cell-border " *ngIf="personal && opcion=='estudiante'">
                        <thead>
                          <tr class="headtable">
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Ciclo</th>
                            <th>Código</th>
                            <th>Estadísticas</th>
                         
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bodytable" *ngFor="let persona of personal; let i=index" >
                            <td>{{ i+1 }}</td>
                            <td>{{ persona.nombre  + ' ' + persona.apellido}}</td>
                            <td>{{ persona.correo }}</td>
                            <td>{{ persona.ciclo }}</td>
                            <td>{{ persona.codigo }}</td>
                            <td><i class="far fa-eye" style="cursor: pointer;width: 20px;height: 20px;" (click)="reporte_personal(persona.idpersonal)"></i>  </td>
        
                          </tr>
                    
                        </tbody>
                      </table>
                      <table datatable [dtOptions]="dtOptions" class="tablaxd" *ngIf="personal && opcion=='psicologo'">
                        <thead>
                          <tr class="headtable">
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Especialidad</th>
                            <th>Grado Académico</th>
                            <th>Estadisticas</th>
                         
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bodytable" *ngFor="let persona of personal; let i=index" >
                            <td>{{ i+1 }}</td>
                            <td>{{ persona.nombre  + ' ' + persona.apellido}}</td>
                            <td>{{ persona.correo }}</td>
                            <td>{{ persona.especialidad }}</td>
                            <td>{{ persona.grado_academico }}</td>
                            <td><i class="far fa-eye" style="cursor: pointer;width: 20px;height: 20px;" (click)="reporte_personal(persona.idpersonal)"></i> </td>
        
                          </tr>
                    
                        </tbody>
                      </table>
                   </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" style="padding: 25px;" aria-labelledby="nav-profile-tab">
                    <h5 *ngIf="comentarios.length == 0" style="padding: 15px 15px;font-size: 16px;">Aun no se ha registrado observaciones .</h5>
                    <div class="puntaje" *ngIf="comentarios.length > 0">
                      <div class="total">
                        <h2>{{4.5}}</h2>
                        <app-cronometro *ngIf="total" [puntaje]="4.5" class="xd2"></app-cronometro>
                        <p><i class="fas fa-user" style="margin-right: 5px;"></i>{{numero_votantes}} en total</p>
                      </div>
                      <div class="individual">
                        <div class="progres">
                          <label for="">5</label>
                          <div class="progress">
                            <div  role="progressbar" [ngStyle]="{'width':puntaje5,'background-color':'#57bb8a'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <div class="progres">
                          <label for="">4</label>
                          <div class="progress">
                            <div  role="progressbar" [ngStyle]="{'width':puntaje4,'background-color':'#9ace6a'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <div class="progres">
                          <label for="">3</label>
                          <div class="progress">
                            <div  role="progressbar" [ngStyle]="{'width':puntaje3,'background-color':'#ffcf02'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <div class="progres">
                          <label for="">2</label>
                          <div class="progress">
                            <div  role="progressbar" [ngStyle]="{'width':puntaje2,'background-color':'#ff9f02'}"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <div class="progres">
                          <label for="">1</label>
                          <div class="progress">
                            <div  role="progressbar" [ngStyle]="{'width':puntaje1,'background-color':'#ff6f31'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
          
                      </div>
                    </div>
                    <div class="list_comments" *ngIf="comentarios.length > 0">
                      <div *ngFor="let comm of comentarios" class="comment">
                        <div class="cont-img">
                          <img [src]="comm.genero == 'H' ? 'assets/pach.png' : 'assets/pacm.png' " alt="">
                        </div>
                        <div class="data">
                          <h6>{{comm.nombre + ' ' + comm.apellido}}</h6>
                          <app-cronometro [puntaje]="comm.puntaje" class="xd2"></app-cronometro>
                          <p>"{{comm.descripcion}}"</p>
                        </div>
                      </div>
                      
                     
                   
                    </div>
                </div>
             
              </div>
            
          
          
          
        </div>
        

        
    </div>

    <!-- Large modal -->

<!-- 
    <div class="modal fade bd-example-modal-lg" id="personalest" tabindex="-1"
        role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" style="text-transform:
                        capitalize;color: #8ea2c6;font-size: 20px;"
                        id="exampleModalLongTitle">
                        <img style="width: 25px; height: 25px;"
                            src="https://e7.pngegg.com/pngimages/728/955/png-clipart-bar-chart-computer-icons-statistics-bar-chart-angle-text.png"
                            alt="">
                        Estadisticas: {{nombrecompleto}}
                    </h6>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="fechas">
                        <button mat-raised-button (click)="todos_por_id()">Todos
                            los registros</button>
                        <div style="display: flex;align-items: center;">
                            <label>F.Inicio:</label>
                            <input type="date" [(ngModel)]="fechai">
                            <label>F.Fin:</label>
                            <input type="date" [(ngModel)]="fechaf">
                            <button type="button" (click)="get_todos_por_id_fecha()"
                                class="btn btn-info" style="padding: 0;height:
                                22px;width: auto;" [disabled]="!fechai &&
                                !fechaf"><mat-icon style="margin:0;">search</mat-icon></button>
                        </div>

                    </div>
                    <div>
                        <div style="display: block;">
                            <canvas  #graficoModal baseChart  height="225px" 
                            [data]="barChartData"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [type]="barChartType">
        
                        </canvas>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div> -->


    <!-- Large modal -->
<!-- 

    <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1"
        role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" style="text-transform:
                        capitalize;color: #8ea2c6;font-size: 20px;"
                        id="exampleModalLongTitle">
                        <img style="width: 25px; height: 25px;"
                            src="https://e7.pngegg.com/pngimages/728/955/png-clipart-bar-chart-computer-icons-statistics-bar-chart-angle-text.png"
                            alt="">
                        Estadisticas de los {{opcion}}
                    </h6>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="fechas">
                        <button mat-raised-button (click)="cargartodas()">Todos
                            los registros</button>
                        <div style="display: flex;align-items: center;">
                            <label>F.Inicio:</label>
                            <input type="date" [(ngModel)]="fechai">
                            <label>F.Fin:</label>
                            <input type="date" [(ngModel)]="fechaf">
                            <button type="button"
                                (click)="buscarfechasdetodos()" class="btn
                                btn-info" style="padding: 0;height: 22px;width:
                                auto;" [disabled]="!fechai && !fechaf"><mat-icon
                                    style="margin:0;">search</mat-icon></button>
                        </div>

                    </div>
                    <div>
                        <div style="display: block;">
                            <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [legend]="barChartLegend"
                                [colors]="chartColors"
                                [chartType]="barChartType">

                            </canvas>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>

 -->



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




</body>
