@import 'material-icons/iconfont/material-icons.css';
*{
    font-family: 'Comfortaa', cursive;
}

body{
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: #dedbe4;
    
}
table {
    width: 70%;
    
  }
  
  .filter {
    font-size: 14px;
    width: 70%;
    
  }
.cuerpo_gestion_dos{
    width: 100%;
    padding-left: 20%;
    height: 40vh;
    background-color: white;
    
}
.detalle_rol{
    
    border: none;
    color: gray;
}
