<body>
    <div class="container">
        <div class="header">
            <h5>Gestion de Rol-Opciones</h5>
        </div>
        <div class="container2">
            <div class="img-gestop">
                <img src="assets/seginform.jpg" />
            </div>
            <div class="cuerpo2">
                <div class="formulario1">
                    <div class="form">
                        <button type="button" id="registerbtnrol" class="btn btn-success" class="btn btn-primary" data-toggle="modal" data-target="#createropcmodal"><mat-icon matSuffix>add</mat-icon></button>
                        <label>Opciones:</label>
                        <select class="form-select" [(ngModel)]="opcionactual">
                            <option value="" selected>-- none --</option>
                            <option *ngFor="let opcion of opciones" value="{{opcion.idopcion}}">{{opcion.nombre}}</option>
                        </select>
                    </div>
                    <div class="buttons">
                        <button type="button" class="btn btn-light" (click)="eliminaropc()" [disabled]="!opcionactual">Eliminar <mat-icon style="color: red;" matSuffix>delete_forever</mat-icon></button>
                        <button type="button" class="btn btn-light" (click)="getopcion()" [disabled]="!opcionactual" data-toggle="modal" data-target="#modifyopcmodal">
                            Modificar<mat-icon style="color: blue;" matSuffix>upgrade</mat-icon>
                        </button>
                    </div>
                </div>

                <div  class="formulario1">
                    <div class="form">
                        <button type="button" id="registerbtnrol" class="btn btn-bg-success" class="btn btn-primary" data-toggle="modal" data-target="#createrrolmodal"><mat-icon matSuffix>add</mat-icon></button>
                        <label>Roles:</label>
                        <select class="form-select" [(ngModel)]="rolactual">
                            <option value="" selected>-- none --</option>
                            <option *ngFor="let rol of roles" value="{{rol.idrol}}">{{rol.nombre}}</option>
                        </select>
                    </div>

                    <div class="buttons">
                        <button type="button" class="btn btn-light" data-toggle="modal" (click)="getopcionesrol()" [disabled]="!rolactual" data-target="#deleteoprol"><mat-icon matSuffix>visibility</mat-icon></button>
                        <button type="button" class="btn btn-light" [disabled]="!rolactual" (click)="eliminarrol()">Eliminar <mat-icon style="color: red;" matSuffix>delete_forever</mat-icon></button>
                        <button type="button" class="btn btn-light" [disabled]="!rolactual" (click)="getrol()" data-toggle="modal" data-target="#modifyrolmodal">Modificar <mat-icon style="color: blue;" matSuffix>upgrade</mat-icon></button>
                        <button type="button" class="btn btn-light" [disabled]="!rolactual" (click)="getopcionesdisponibles()" data-toggle="modal" data-target="#agregaropcionrol">
                            Agregar Opcione <mat-icon style="color: red;" matSuffix>delete_forever</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<!-- Modal Eliminar Opciones de rol -->
<div class="modal fade" id="deleteoprol" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Opciones actuales del Rol</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="cerraropcionesactuales()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
               <app-spinner-blanc *ngIf="cargando"></app-spinner-blanc>
            <div class="modal-body" *ngIf="!cargando">
                <h3 *ngIf="opcionesactualesdelrol.length<1">No se encontraron opciones para este rol!!</h3>
                <table *ngIf="opcionesactualesdelrol.length>=1" class="table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let op of opcionesactualesdelrol ;let i= index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{op.nombre}}</td>
                            <td style="text-align: center;"><mat-icon style="color: red; cursor: pointer;" (click)="eliminaropcion_rol(op.idop_rol)" data-dismiss="modal" matSuffix>delete_forever</mat-icon></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerraropcionesactuales()" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Modificar Rol -->
<div class="modal fade" id="modifyrolmodal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modificar Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <mat-form-field class="example-full-width" appearance="fill" *ngIf="rolupd">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Rol" [(ngModel)]="rolupd.nombre" />
                    <mat-icon matSuffix>article</mat-icon>
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarrol()" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="modificarRol()" data-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar opcion a  Rol -->
<div class="modal fade" id="agregaropcionrol" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agregar opcion al Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Opciones Disponibles:</label>
                <select class="form-select" [(ngModel)]="opciondisp" *ngIf="opcionesdisponibles">
                    <option value="" selected>-- none --</option>
                    <option *ngFor="let opc of opcionesdisponibles" value="{{opc.idopcion}}">{{opc.nombre}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarrolactual()" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" [disabled]="!opciondisp" (click)="asignarol_usuario()" data-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Crear Rol-->
<div class="modal fade" id="createrrolmodal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registrar Rol</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Rol" [(ngModel)]="rolupd.nombre" />
                    <mat-icon matSuffix>article</mat-icon>
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarrol()">Cerrar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="agregarrol()">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  Modificar opciones-->
<div class="modal fade" id="modifyopcmodal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modificar Opciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
               <app-spinner-blanc *ngIf="cargando"></app-spinner-blanc>
            <div class="modal-body" *ngIf="!cargando">
                <mat-form-field class="example-full-width" appearance="fill" *ngIf="opcionupd">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="opcion" [(ngModel)]="opcionupd.nombre" />
                    <mat-icon matSuffix>badge</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill" *ngIf="opcionupd">
                    <mat-label>Icono</mat-label>
                    <input matInput placeholder="icono" [(ngModel)]="opcionupd.icono" />
                    <mat-icon matSuffix>image</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill" *ngIf="opcionupd">
                    <mat-label>Ruta</mat-label>
                    <input matInput placeholder="ruta" [(ngModel)]="opcionupd.ruta" />
                    <mat-icon matSuffix>http</mat-icon>
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerraropc()" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="modificarOpc()" data-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Crear opciones-->
<div class="modal fade" id="createropcmodal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registrar Opciones</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <mat-form-field class="example-full-width" appearance="fill" *ngIf="opcionupd">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="opcion" [(ngModel)]="opcionupd.nombre" />
                    <mat-icon matSuffix>badge</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill" *ngIf="opcionupd">
                    <mat-label>Icono</mat-label>
                    <input matInput placeholder="icono" [(ngModel)]="opcionupd.icono" />
                    <mat-icon matSuffix>image</mat-icon>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill" *ngIf="opcionupd">
                    <mat-label>Ruta</mat-label>
                    <input matInput placeholder="ruta" [(ngModel)]="opcionupd.ruta" />
                    <mat-icon matSuffix>http</mat-icon>
                </mat-form-field>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerraropc()">Cerrar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="agregarOpc()">Crear</button>
            </div>
        </div>
    </div>
</div>
