@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    padding: 80px;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    box-sizing: border-box;
}
h5{
    font-size: 22px;
    color:teal;
    margin-bottom: 50px;
}
.nav-pills .nav-link.active{
    color: teal;
  
    background-color: white;
}
.nav-pills .nav-link.active::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:3px;
    height:100%;
  background-color:teal;
}
.nav-pills .nav-link {
    position: relative;
    border-radius: 0.25rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #eee;
    margin-top: 1px;
}

.formulario{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  
    width: 100%;
    padding-top: 50px;
    height: 500px;
}
#add-btn{
    width: 180px;
  
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.btn-success{
    color: #fff;
    background-color: #26aa9f;
    border-color:  #26aa9f;
}
.btn-success:focus{
    color: #fff;
    background-color: #1d8179;
    border-color:  #1d8179;
}
.btn-success:hover{
    color: #fff;
    background-color: #1d8179;
    border-color:  #1d8179;
}
.form{
    width: 100%;
    display:flex;
    margin-top: 25px;
   margin-bottom: 25px;
   flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.form label{
    margin-bottom: 5px;
    color: grey;
    margin-right: 55px;
}
.form-one{
    width: 60%;
}

.col-9{
    background: white;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-two{
    width: 40%;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
  
}
.form-two button{
    margin-bottom: 10px;
    margin-left: 10px;
    width: 50px;
}
.form-two label{
    margin-bottom: 5px;
    width: auto;
    margin-right: 0;
}
.tablaxd {
    border-collapse: separate; 
    font-size: 12.5px;
    width: 100%;
    border-spacing: 0px 15px; 
   
}
.tablaxd td{
    background: white;
    overflow: hidden;
  
  
}
.tablaxd th{
    background: transparent;
    overflow: hidden;
  
  
}
.tablaxd thead{
    background: transparent;
    overflow: hidden;
  
  
}

.headtable th{
    background: transparent;
}
.tablaxd .bodytable{
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
    
    
    height: 50px;
}
.headtable{
    background: transparent;
    box-shadow: 0;
}
.tablaxd td:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.tablaxd td:nth-last-child(1){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 50px;
}

.tablaxd td:nth-last-child(2){

    padding-left: 50px;
}


