































  /* sidebar xdd*/
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  font-family: 'Poppins', sans-serif;
}

body{
    width: calc(100% - 70px);
    overflow: auto;
    margin-left: 70px;
    min-height: 100vh;
 background-color: #edf1f7;
}
.sidebar{

  background: #0f3971;
  z-index: 100;
  width:260px;
  overflow:hidden;
  min-height:100vh;
  height:100%;
  position:fixed;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: width .3s;
}
.sidebar.cerrar{
  width:75px;
}
.sidehead{
  display:flex;
  height:65px;
  align-items:center;
  padding:10px 15px;
  position:relative;
}
.sidebar.cerrar .sidehead img{
  visibility: hidden;
}
.sidehead img{
  height:45px;
  border-radius: 50%;
  margin-right:8px;
}
.sidebar.cerrar h2{
  display: none;
}
.sidehead h2{
  display: block;
  text-transform: uppercase;
  color:#26aa9f;
  min-width: 200px;
  font-size: 1.7rem;
}
.sidebar.cerrar .sidehead::after{
  left: 0;
  width:100%;
}
.sidehead::after{
  position:absolute;
  background-color:#dbe0e0;
  content:'';
  bottom:0;
  width:100%;
  height:1px;
  left:0px
  
}
.content{
  width:100%;
  position:relative;
  height:75%;
  
  
}

.list-op{
  width:100%;
  height:100%;
  
  list-style:none;
  
}
.child-op{
  padding: 20px 20px 20px 30px;
  color: white;
  font-weight: 600;
  position: relative;
  font-size: 12px;
  border-bottom: 1px solid #e2e6e6;
  cursor: pointer;
  min-width: 230px;
  display: flex;
  /* border-radius: 5px; */
  align-items: center;
}

.child-op label{
  width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.child-op i{
  width:55px;
  min-width: 55px;
  color: white;
}
.sidebar.cerrar .content::after{
  left: 0;
  width:100%;
}
.content::after{
  position: absolute;
  background-color: #e2e6e6;
  content: '';
  bottom: 0;
  width: 100%;
  height: 1px;
  left: 0px;
  
}

.footer{
  width:100%;
  height:auto;
}
.footerlist{
  width:100%;
  height:auto;
  padding:15px 25px;
  list-style:none;
}
.footer-son{
  
 height:40px; 
 display:flex;
  
   font-weight:bold;
   cursor: pointer;
  
  color:red;
  font-size:13px;
  margin-bottom:15px;
  display:flex;
  
  border-radius:5px;
  align-items:center;
}
.footer-son img{
  margin: 0 auto;
    height: 40px;
    border-radius: 5px;
    /* margin-left: -10px; */
   
    border: 2px solid white;
    min-width: 40px;
    margin-right: 25px;
}
.footer-son i{
    width:55px;
  min-width: 55px;
  color: red;
  padding-left: 5px;
}


.menu{
  
  width:30px;
  height:20px;
 position:fixed;
  transition: margin-left .3s,
    transform .5s;
  top:20px;
  z-index: 999;
  margin-left:20px;
}
.menu::before,.menu::after{
  content:" ";
  height:5px;
  width:100%;
  background:#f9a601;
  position:absolute;
}
.menu::after{
  bottom:0;
}
.line{
   height:5px;
  width:100%;
  background:#f9a601;
  position:absolute;
  top:calc(50% - 2.5px)
}

.menu.activo::after{
  transform:translatey(-150%) rotate(-45deg);
}

.menu.activo::before{
  transform:translatey(150%) rotate(45deg);
}
.menu.activo .line{
  display:none;
}

.menu.activo{
  margin-left:270px;
  transform:rotate(1turn);
}
/* .menu::before,.menu::after{
  content:" ";
  height:3px;
  width:100%;
  background:teal;
  position:absolute;
}
.menu::after{
  bottom:0;
}
.line{
   height:3px;
  width:100%;
  background:teal;
  position:absolute;
  top:calc(50% - 1.5px)
} */

.bod{
  background:red;
  margin-left:75px;
  width:calc(100vw - 75px);
  height:100vh;
  background-image:url('https://media.istockphoto.com/videos/abstract-background-video-id863512454?s=640x640');
  background-repeat:no-repeat;
  background-size:cover;
  
}

.sidebar.cerrar .child-op:hover .tolpit, .footer .footer-son:hover .tolpit{
   transform:scale(1);
}
.footer .footer-son:hover .tolpit::before{
  background-color: white;
}

.tolpit{
  position:fixed;
  transform-origin: 0 50%;
  background:  #51cbce;
  transform:scale(0);
  padding:10px 15px;  
  margin-left:40px;
  color:white;
  border-radius:5px;
  transition:transform .3s
}
.tolpit::before{
  content:"";
  position: absolute;
  z-index:-1;
  width:12px;
  height:12px;
  background-color:#51cbce;
  left:-5px;
  top:13px;
  transform:rotate(45deg);
}
body::-webkit-scrollbar {
  width: 10px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
 
}



body::-webkit-scrollbar-track {
  background: transparent        /* color of the tracking area */
}


body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
body::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
background: #d4d4d4;
}
@media only screen and (max-width: 1024px) {
  .sidebar.sidebar.cerrar{
    width: 0px;
  }
  .menu::before,.menu::after,.line{
    background-color: #0f3971;
  }

  body{
    width: 100%;
    margin-left: 0px;
  }
  .menu{
    left: 10px;
    top: 10px;
    margin-left: 0;
  }
  .content{
    height: 70%;
  }

 }