

  /* sidebar xdd*/
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

body{

    width: 100vw;
   overflow-x: hidden;
    height:100vh;
   background-color: #edf1f7;
}
.nav{
    min-height: 70px;
    width: 100%;
    background-color: white;
    z-index: 103;
    -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 5px rgb(0 0 0 / 5%);
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 20px;
    align-items: center;

}
.nav-left{
  width: max-content;
  display: flex;
  height: 100%;
  align-items: center;
}
.nav .img{
  height:45px;
  border-radius: 50%;
}
.nav .img2{
  height:35px;
  width: 35px;
  border-radius: 50%;
}
.main-bod{
    width: 100vw;
    height:100vh ;
    padding-top: 70px;
    padding-left: 70px;
    margin: 0;
    overflow-y:auto;
    background-color: #edf1f7;

}
.nav h2{
  display: block;
    color: #26aa9f;
    width: max-content;
    font-size: 24px;
    margin-left: 10px;
    letter-spacing: -1.8px;

}
.nav .dropst{
  width: 260px;
  display: flex;
  padding: 25px 15px;
  flex-direction: row;
}
.dropst .name{
 
  width: 150px;
}
.dropst .email{
  font-size: 12px;
  width: 150px;
  margin-top: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #99abb4 ;
}
#dropdownForm1{
  min-height: 100%;
    padding: 15px;
    border: none;
}
#dropdownForm1::after{
  content: none;
}
#dropdownForm1:focus,#dropdownForm1:hover{
  background-color: transparent;
  box-shadow: none;
}
 .out{
  width: 100%;
  border: none;
  padding: 10px 15px;
  text-align: start;
  background-color: transparent;
}
.out i{
  margin-right: 10px;
}


.nav .img3{
  width: 70px;
  height: 70px;
  border-radius: 5px;
}
.sidebar{
  padding-top: 70px;

  background: #0f3971;
  z-index: 100;
  width:240px;
  overflow-y:auto;
  overflow-x: hidden;
  min-height:100vh;
  height:100%;
  position:fixed;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: width .3s;
}

.sidebar::-webkit-scrollbar {
  width: 0px;     /* Tamaño del scroll en vertical */
    /* Tamaño del scroll en horizontal */
 
}



.sidebar::-webkit-scrollbar-track {
  background: transparent        /* color of the tracking area */
}


.sidebar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.sidebar::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
.sidebar::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
.sidebar::-webkit-scrollbar-track:hover,
.sidebar::-webkit-scrollbar-track:active {
background: #d4d4d4;
}
.sidebar.cerrar{
  width:70px;
}
.sidebar.cerrar .hide{
  display:none;
}
.sidebar .hide{
  display:block;
  width: calc(100% - 70px);
}
.show{
  min-width: 70px;
  text-align: center;
}
.profile{
  height: 70px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.profile img{
 border-radius: 50%;
  object-fit: cover;
  height: 35px;
  width: 35px;
}
.profile p,.dropst .name{
color:#687384;
white-space: nowrap;
font-size: 14px;
text-overflow: ellipsis;
overflow: hidden;
}

.div{
  height: 1px;
    background: rgba(120, 130, 140, 0.13);
    display: block;
    margin: 15px 0;
}
.sidebar h6{
  width: 100%;
  padding: 14px;
  color: #687384;
  font-size: 12px;
  text-transform: uppercase;
}

.content{
  width:100%;
  position:relative;
  height:75%;
  
  
}

.list-op{
  width:100%;
  height:100%;
  
  list-style:none;
  
}
.child-op{
  padding: 20px 0px;
  color: #687384;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.child-op label{
   width: calc(100% - 70px);
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    overflow: hidden;
}
.child-op:hover{
  color: white;
}




.nav .menu{
  
  width:50px;
  min-height:100%;
  transition: margin-left .3s,transform .3s;
  margin-left:5px;
  border: none;
 
  color: #a6b7bf;
  
  background-color: transparent;
}


.menu.activo{
  transform:rotate(1turn);
}
/* .menu::before,.menu::after{
  content:" ";
  height:3px;
  width:100%;
  background:teal;
  position:absolute;
}
.menu::after{
  bottom:0;
}
.line{
   height:3px;
  width:100%;
  background:teal;
  position:absolute;
  top:calc(50% - 1.5px)
} */



.sidebar.cerrar .child-op:hover .tolpit,.sidebar.cerrar  .profile:hover  .tolpit2{
   transform:scale(1);
}

.tolpit,.tolpit2{
  position:fixed;
  transform-origin: 0 50%;
  background:  #26aa9f;
  transform:scale(0);
  padding:10px 15px;  
  margin-left:60px;
  color:white;
  font-size: 13px;
  border-radius:5px;
  transition:transform .3s
}
.tolpit2{
  background: #0f3971;
  display: flex;
  margin-top: 10px;
  
  flex-direction: column;
}
.view{

  width: max-content;
  padding: 3px 13px;
  margin-top: 5px;
  border-radius: 15px;
  background: #06d79c;
  border: 1px solid #06d79c;
  box-shadow: 0 2px 2px 0 rgb(40 190 189 / 14%), 0 3px 1px -2px rgb(40 190 189 / 20%), 0 1px 5px 0 rgb(40 190 189 / 12%);
  color: white;
}
.tolpit::before{
  content:"";
  position: absolute;
  z-index:-1;
  width:12px;
  height:12px;
  background-color:#26aa9f;
  left:-5px;
  top:13px;
  transform:rotate(45deg);
}

body::-webkit-scrollbar {
  width: 10px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
 
}



body::-webkit-scrollbar-track {
  background: transparent        /* color of the tracking area */
}


body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}
body::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
background: #d4d4d4;
}
@media only screen and (max-width: 1024px) {
  .sidebar.sidebar.cerrar{
    width: 0px;
  }
  .main-bod{
    padding-left: 0;
  }

  body{
    width: 100%;
    margin-left: 0px;
  }

  .content{
    height: 70%;
  }

 }
 @media only screen and (max-width:340px){
  #dropdownForm1{
    display: none;
  }
 }