.card{
    width: 1000px;
    height: 500px;
    margin: 20px auto;
  }
  .card-header{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
  }
  #user{
      color: white;
      margin: 5px 20px 0 0;
  }