
.card{
    width: 1000px;
    height: 500px;
    margin: 20px auto;
  }
  .card-header{
    display: flex;
    font-size: 20px;
    justify-content: space-between;
  }

  mat-form-field {
    margin-right: 12px;
  }
  table{
    width: 100%;
  }