<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

</head>



<body>

  <div class="cardtop">
    <h2 style="color: #52b1b1;font-size:25px;font-weight: bold;margin: 0;"><img
        class="titleimg"
        src="https://www.nicepng.com/png/detail/242-2420369_atencion-al-cliente-png-imagenes-de-actividades-claves.png">
      Panel de Estado de Atenciones</h2>
    <div style="margin-left: 0%;height: 30px; float: right;">
      <span style="font-size: 16px;margin-right: 10px; color: teal;">Estado:</span>
      <p-dropdown [options]="values" [(ngModel)]="opcion" (onClick)="buscar()"
        placeholder="Seleccione un estado" optionLabel="name"
        [showClear]="false"></p-dropdown>
    </div>
  </div>



  <div class="card" style="padding: 10px;">


    <p-table [value]="pacientes" #dt1 styleClass="custom"
      [globalFilterFields]="['nombre','motivo','genero','telefono']"
      dataKey="nombre" [paginator]="true" [rows]="7"
      [showCurrentPageReport]="true" responsiveLayout="scroll"
      currentPageReportTemplate="{first} de {totalRecords} paginas"
      [rowsPerPageOptions]="[8,10]">
      <ng-template pTemplate="caption">
        <span class="p-input-icon-left p-ml-auto">

          <input pInputText type="text"
            (input)="dt1.filterGlobal($event.target.value, 'contains')"
            placeholder="Buscar ...." />
        </span>


      </ng-template>


      <ng-template pTemplate="header">
        <tr class="cabeza">
          <th style="width: 3rem"></th>
          <th pSortableColumn="nombre" field="nombre">Nombre completo</th>
          <th field="motivo">Motivo</th>
          <th field="genero">Genero</th>
          <th field="telefono">Telefono</th>
          <th>Estado</th>
          <th>Opciones</th>
        </tr>
      </ng-template>



      <ng-template pTemplate="body" let-element let-expanded="expanded">
        <tr>
          <td>
            <button type="button" style="color: white;" pButton pRipple
              [pRowToggler]="element"
              class="p-button-text p-button-rounded p-button-plain"
              icon="pi pi-align-justify"></button>
          </td>

          <td style="text-transform: capitalize;height: 20px;">{{element.nombre
            + ' ' + element.apellido}}</td>
          <td style="height: 20px;">{{element.motivo | titlecase}}</td>
          <td style="height: 20px;">{{element.genero == 'H' ? 'Hombre' :
            'Mujer'}}</td>
          <td style="height: 20px;">{{element.telefono}}</td>
          <td style="height: 20px;">
            <p-badge [value]="element.estado" *ngIf="element.estado=='Sin Asignar'" severity="danger"></p-badge>
            <p-badge [value]="element.estado" *ngIf="element.estado=='En Proceso'" severity="info"></p-badge>
            <p-badge [value]="element.estado"
              *ngIf="element.estado=='Finalizado'" severity="success"></p-badge>
            <p-badge [value]="element.estado" *ngIf="element.estado=='Derivado'"
              severity="warning"></p-badge>

          </td>
          <td style="height: 20px;"> <img
              src="https://cdn-icons-png.flaticon.com/128/2753/2753112.png"
              (click)="seleccionarpac(element);showDialog()" style="cursor:
              pointer;height: 30px;width: 30px;"
              *ngIf="opcion.name=='Sin Asignar' || opcion.name == 'Derivado'"
              />
            <img
              src="https://cdn-icons-png.flaticon.com/512/3125/3125856.png"
              style="cursor: pointer;width: 30px;height: 30px;margin-left:
              20px;" *ngIf="opcion.name=='En Proceso'"
              (click)="showResponsiveDialog();verasignacion(element.idpaciente)"
              />

            <img *ngIf="opcion.name=='Finalizado'"
              src="https://cdn-icons-png.flaticon.com/512/425/425838.png"
              style="cursor: pointer;width: 30px;height: 30px;margin-left:
              20px;"
              (click)="verultimaobser(element.idpaciente);showResponsiveDialog3();asignarpac(element)"
              />


            <img *ngIf="opcion.name=='Derivado'"
              src="https://www.freeiconspng.com/thumbs/eye-icon/eye-open-icon--icon-search-engine-2.png"
              style="cursor: pointer;width: 30px;height: 30px;margin-left:
              30px;"
              
              (click)="verultimaobser(element.idpaciente);showResponsiveDialog3();asignarpac(element)"
              />
          </td>
        </tr>
      </ng-template>


      <ng-template pTemplate="rowexpansion" let-element>
        <tr>
          <td colspan="7">
            <div class="p-p-3" style="display: flex; padding: 15px;">
              <label>Descripcion: </label>
              <p>{{element.descripcion}}</p>
            </div>

          </td>
        </tr>

      </ng-template>

    </p-table>

  </div>

</body>











<p-dialog header="¿A QUE ESPECIALISTA DESEA DERIVAR?" [(visible)]="display"
  [modal]="true" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false">
  <div style="display: flex;flex-direction: row;justify-content: space-around;">
    <div>
      <button pButton pRipple type="button" label="Psicologo"
        [routerLink]="['/nav/psicologo',pacseleccionado]" class="p-button-raised
        hov">
        <img
          src="https://cdn-icons-png.flaticon.com/512/1056/1056496.png" />
        <span></span><span></span><span></span><span></span>
      </button>



    </div>
    <div>
      <button pButton pRipple type="button" label="Pastor"
        [routerLink]="['/nav/pastor',pacseleccionado]" class="p-button-raised
        hov">
        <img
          src="https://cdn-icons-png.flaticon.com/512/186/186726.png" />
        <span></span><span></span><span></span><span></span>
      </button>

    </div>
    <div>
      <button pButton pRipple type="button" label="Estudiante"
        [routerLink]="['/nav/estudiante',pacseleccionado]"
        class="p-button-raised hov">
        <img
          src="https://cdn-icons-png.flaticon.com/512/3135/3135810.png" />
        <span></span><span></span><span></span><span></span>
      </button>


    </div>
  </div>


</p-dialog>



<!-- Modal Estado == En proceso -->

<p-dialog header="Datos del Especialista Asignado"
  [(visible)]="displayResponsive" [modal]="true" [breakpoints]="{'960px':
  '75vw'}" [style]="{width: '30vw'}"
  [draggable]="false" [resizable]="false">
  <div class="detailrigth">
    <h4 style="text-align: center;font-weight: bold;color:
      black;text-transform: capitalize;font-size: 23px;">
      <img style="width: 30px;height: 30px;"
        *ngIf="psi_asig.tipo=='psicologo'"
        src="https://img.icons8.com/color/48/000000/psychology.png" />
      <img style="width: 30px;height: 30px;"
        *ngIf="psi_asig.tipo=='pastor'"
        src="https://img.icons8.com/color/48/000000/the-pope.png" />
      <img style="width: 30px;height: 30px;"
        *ngIf="psi_asig.tipo=='estudiante'"
        src="https://img.icons8.com/color/48/000000/student-male--v1.png"
        />
      {{psi_asig.nombre + ' ' + psi_asig.apellido}}</h4>
    <div style="width: 100%;text-align: center;">

      <img [src]='imagenpsi' width="150" style="border-radius: 50%;border: 5px
        solid #458fcd;"
        height="150" alt="">
    </div>
    <div class="group-item" *ngIf="psi_asig.tipo=='pastor'">
      <div class="item-info"><label>Telefono:</label><input disabled
          [(ngModel)]="psi_asig.telefono"></div>
      <div class="item-info"><label>Correo:</label><input disabled
          [(ngModel)]="psi_asig.correo"></div>
      <div class="item-info"><label>Distrito:</label><input
          [(ngModel)]="psi_asig.distrito" disabled></div>
      <div class="item-info"><label>Campo:</label><input
          [(ngModel)]="psi_asig.campo" disabled></div>

    </div>
    <div *ngIf="psi_asig.tipo=='psicologo'" class="group-item">
      <div class="item-info"><label>Telefono:</label><input
          [(ngModel)]="psi_asig.telefono" disabled></div>
      <div class="item-info"><label>Correo:</label><input
          [(ngModel)]="psi_asig.correo" disabled></div>
      <div class="item-info"><label>Especialidad:</label><input
          [(ngModel)]="psi_asig.especialidad" disabled></div>
      <div class="item-info"><label>Colegiatura:</label><input
          [(ngModel)]="psi_asig.n_colegiatura" disabled></div>
      <div class="item-info"><label>Grado Academico:</label><input
          [(ngModel)]="psi_asig.grado_academico" disabled></div>

    </div>
    <div *ngIf="psi_asig.tipo=='estudiante'" class="group-item">
      <div class="item-info"><label>Telefono:</label><input
          [(ngModel)]="psi_asig.telefono" disabled></div>
      <div class="item-info"><label>Correo:</label><input
          [(ngModel)]="psi_asig.correo" disabled></div>

      <div class="item-info"><label>Ciclo/Grupo:</label><input
          [(ngModel)]="psi_asig.ciclo + '/' + psi_asig.grupo" disabled></div>
      <div class="item-info"><label>Codigo:</label><input
          [(ngModel)]="psi_asig.codigo" disabled></div>

    </div>



  </div>
  <ng-template pTemplate="footer">

    <p-button (click)="displayResponsive=false" label="Ok"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>





<!-- Modal Estado == Finalizado -->

<p-dialog header="Detalle de la Atencion" [(visible)]="displayResponsive3"
  [modal]="true" [style]="{width: 'auto',height: 'auto'}"
  [draggable]="false" [resizable]="true" [blockScroll]="false">
  <div class="detail-container">
    <div class="detail-son">
      <h4 style="text-align: center;font-weight: bold;color:
        black;text-transform: capitalize;font-size: 20px;">
        <img style="width: 30px;height: 30px;"
          *ngIf="psi_asig.tipo=='psicologo'"
          src="https://img.icons8.com/color/48/000000/psychology.png" />
        <img style="width: 30px;height: 30px;" *ngIf="psi_asig.tipo=='pastor'"
          src="https://img.icons8.com/color/48/000000/the-pope.png" />
        <img style="width: 30px;height: 30px;"
          *ngIf="psi_asig.tipo=='estudiante'"
          src="https://img.icons8.com/color/48/000000/student-male--v1.png" />
        Especialista Asignado</h4>
      <div style="width: 100%;text-align: center;">
        <img [src]='imagenpsi2' width="150" style="border-radius:50%;border: 5px
          solid var(--z);box-shadow: 0 0 5px var(--z), 0 0 10px var(--z), 0 0
          10px var(--z);" height="150" alt="">
      </div>

      <div class="group-item" *ngIf="psi_asig.tipo=='pastor'">

        <div class="item-info"><label>Nombre Completo:</label><input disabled
            [(ngModel)]="psi_asig.nombre + ' ' + psi_asig.apellido"></div>
        <div class="item-info"><label>Telefono:</label><input disabled
            [(ngModel)]="psi_asig.telefono"></div>
        <div class="item-info"><label>Correo:</label><input disabled
            [(ngModel)]="psi_asig.correo"></div>
        <div class="item-info"><label>Campo:</label><input
            [(ngModel)]="psi_asig.campo" disabled></div>
        <div class="item-info"><label>Distrito:</label><input
            [(ngModel)]="psi_asig.distrito" disabled></div>
      </div>


      <div *ngIf="psi_asig.tipo=='psicologo'" class="group-item">
        <div class="item-info"><label>Nombre Completo:</label><input disabled
            [(ngModel)]="psi_asig.nombre + ' ' + psi_asig.apellido"></div>
        <div class="item-info"><label>Telefono:</label><input
            [(ngModel)]="psi_asig.telefono" disabled></div>
        <div class="item-info"><label>Correo:</label><input
            [(ngModel)]="psi_asig.correo" disabled></div>
        <div class="item-info"><label>Especialidad:</label><input
            [(ngModel)]="psi_asig.especialidad" disabled></div>
        <div class="item-info"><label>Colegiatura:</label><input
            [(ngModel)]="psi_asig.n_colegiatura" disabled></div>
        <div class="item-info"><label>Grado Academico:</label><input
            [(ngModel)]="psi_asig.grado_academico" disabled></div>
      </div>


      <div *ngIf="psi_asig.tipo=='estudiante'" class="group-item">
        <div class="item-info"><label>Nombre Completo:</label><input disabled
            [(ngModel)]="psi_asig.nombre + ' ' + psi_asig.apellido"></div>
        <div class="item-info"><label>Telefono:</label><input
            [(ngModel)]="psi_asig.telefono" disabled></div>
        <div class="item-info"><label>Correo:</label><input
            [(ngModel)]="psi_asig.correo" disabled></div>
        <div class="item-info"><label>Ciclo/Grupo:</label><input
            [(ngModel)]="psi_asig.ciclo + '/' + psi_asig.grupo"
            disabled></div>
        <div class="item-info"><label>Codigo:</label><input
            [(ngModel)]="psi_asig.codigo" disabled></div>
      </div>

    </div>
    <div class="detail-son-two">
     
        <h1 style="font-weight: bold;font-size: 18px;text-align: center;">
          Detalle del paciente
        </h1>
        <div class="pac_two">
          <img *ngIf="pac_asig.genero == 'H'" src="https://www.bootdey.com/img/Content/avatar/avatar6.png" style="width: 28%; height: 95%;border: 4px solid teal;" alt="">
          <img   *ngIf="pac_asig.genero == 'M'"src="https://armeniahotel.com.co/wp-content/uploads/2017/07/avatars-1-06.jpg" style="width: 28%; height: 95%;border: 4px solid teal;" alt="">
          <div  class="group-item2">
            <div class="item-info"><label>Nombre Completo:</label><input disabled
                [(ngModel)]="pac_asig.nombre + ' ' + pac_asig.apellido"></div>
            <div class="item-info"><label>Telefono:</label><input
                [(ngModel)]="pac_asig.telefono" disabled></div>
            <div class="item-info"><label>Motivo:</label><input
                [(ngModel)]="pac_asig.motivo" disabled></div>
            <div class="item-info"><label>Descripcion: </label><input
                [(ngModel)]="pac_asig.descripcion"
                disabled></div>
           
          </div>
        </div>
       
      
      <div></div>
    </div>
    <div class="detail-son-three">
      <p-overlayPanel #op1>
        <ng-template pTemplate>
          <div>
            <div *ngIf="nro_s==1" class="detalleobse">
              <div class="detalle2">
                <div>
                  <label for="" style="margin-right: 15px;">Condicion
                    Final:</label>
                  <input disabled style="margin-right: 25px;"
                    [(ngModel)]="sesiones[0].condicion">
                </div>
                <div style="display: flex;flex-direction: row;align-items:
                  center;">
                  <label style="margin-right: 15px;display:
                    flex;align-items: center;margin-bottom: 0;" for="">Evidencia
                    Final:</label>
                  <a style="display: flex;align-items: center;"
                    href="{{sesiones[0].evidencia}}" target="_blank">Mostrar evidencia
                    <mat-icon>launch</mat-icon></a>
  
                </div>
              </div>
              <div class="item-info-lg">
                <label style="color: black; font-weight: bold;">Observaciones:</label>
                <textarea name="" id="" cols="90" rows="3" disabled
                  [(ngModel)]="sesiones[0].observaciones"></textarea>
              </div>
  
            </div>
            <div *ngIf="nro_s==2"  class="detalleobse">
              <div class="detalle2">
                <div>
                  <label for="" style="margin-right: 15px;">Condicion
                    Final:</label>
                  <input disabled style="margin-right: 25px;"
                    [(ngModel)]="sesiones[1].condicion">
                </div>
                <div style="display: flex;flex-direction: row;align-items:
                  center;">
                  <label style="margin-right: 15px;display:
                    flex;align-items: center;margin-bottom: 0;" for="">Evidencia
                    Final:</label>
                  <a style="display: flex;align-items: center;"
                    href="{{sesiones[1].evidencia}}" target="_blank">Mostrar evidencia
                    <mat-icon>launch</mat-icon></a>
  
                </div>
              </div>
              <div class="item-info-lg">
                <label style="color: black; font-weight: bold;">Observaciones:</label>
                <textarea name="" id="" cols="90" rows="3" disabled
                  [(ngModel)]="sesiones[1].observaciones"></textarea>
              </div>
  
            </div>
            <div *ngIf="nro_s==3" class="detalleobse">
              <div class="detalle2">
                <div>
                  <label for="" style="margin-right: 15px;">Condicion
                    Final:</label>
                  <input disabled style="margin-right: 25px;"
                    [(ngModel)]="sesiones[2].condicion">
                </div>
                <div style="display: flex;flex-direction: row;align-items:
                  center;">
                  <label style="margin-right: 15px;display:
                    flex;align-items: center;margin-bottom: 0;" for="">Evidencia
                    Final:</label>
                  <a style="display: flex;align-items: center;"
                    href="{{sesiones[2].evidencia}}"  target="_blank">Mostrar evidencia
                    <mat-icon>launch</mat-icon></a>
  
                </div>
              </div>
              <div class="item-info-lg">
                <label style="color: black; font-weight: bold;">Observaciones:</label>
                <textarea name="" id="" cols="90" rows="3" disabled
                  [(ngModel)]="sesiones[2].observaciones"></textarea>
              </div>
  
            </div>
          </div>
          
        </ng-template>
      </p-overlayPanel>
    
      <button  *ngFor="let sesion of sesiones"
        (click)="op1.toggle($event);changeses(sesion.nro_sesion)">
        <img src="https://cdn-icons-png.flaticon.com/512/31/31632.png" alt=""
          width="100px" height="100px">
        Sesion {{sesion.nro_sesion}}</button>
      

    </div>
  </div>

  <ng-template pTemplate="footer">

    <p-button (click)="displayResponsive3=false" label="Ok"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>


