/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
  }
  body{
   width: 100%;
   background-color: white;
   height: 100%;

  }
.title{
     /* border-bottom: 1px solid #cdedfc; */
     padding: 10px 5px;
     font-weight: bold;
}
.xdd i{
color: #13c298;
}
  .container{
    min-width: 100%;
    height: 100%;
      display: flex;
      background: #edf1f7;
      justify-content: space-around;
      flex-direction: column;
  }
  .list-asignaciones{
    padding: 20px 10px;
    height: 100%;
    background: #edf1f7;
    width: 36%;

  }
  .list-asignaciones .top{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: white;
    min-height: 65px;
    border: 0.0625rem solid #e4e9f2;
    padding: 0px 15px 0px 15px;
}
  
 
  .list-asignaciones .bottom{
    width: 95%;
    max-height: 90%;
    background: white;
    display: flex;
    flex-direction: column;
    /* box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px; */
    padding-top: 15px;
    margin: 0 auto;
    border: 0.0625rem solid #e4e9f2;
  
  }
  .top .title1{
    display:flex;
    font-size: 17px;
     flex-direction:column;
  }
  .top .title1 .new{
    background-color: #19dada2e;
    color: #19dad9;
    font-size: 13px;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 10px;
  }
  .title1 label{
    color:#bec5d4;
  }
  
  .data-personal h6{
    font-weight: bold;
    font-size: 12px;
    padding: 10px 15px;
    color: #777;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #dee2e6;
    margin-bottom: 0;
  }
  .pt1 {
    width: 50%;display: flex;flex-direction: column;
    border: 1px solid #dee2e6;
    padding: 10px 15px 10px 0px;
}
.pt1 div{
  display: flex;
  flex-direction: column;
}
.pt1 div label:first-child{
color: #0f3971;
padding: 5px 15px;
font-weight: bold;
font-size: 14px;
margin-bottom: 0px;
}
.pt1 div i{
  color: white;
  background-color: #e2891f;
  margin-right: 15px;
  border-radius: 3px;
  font-size: 12px;
  padding: 2px 4px;
  text-align: center;
}
.pt1 div label:last-child{
    font-size: 13px;
    padding-left:45px;
}
  
  .list-asignaciones .list{
    height: 100%;
    width: 100%;
    position: relative;
   
    margin: 0 auto;
    padding: 5px 0px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .list-asignaciones h5{
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    border-bottom: 0.05px solid #bbcbe5;
    padding: 20px;
   margin-bottom: 10px;
    color: #51cbce;
  }
  .list::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
   
  }
  
  
  
  .list::-webkit-scrollbar-track {
    background: transparent        /* color of the tracking area */
  }
  
  
  .list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  .list::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  /* Cambiamos el fondo cuando esté en active */
  .list::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  .list::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  /* Cambiamos el fondo cuando esté en active o hover */
  .list::-webkit-scrollbar-track:hover,
  .list::-webkit-scrollbar-track:active {
  background: #d4d4d4;
  }
  
  .visualizador{
    width: 62%;
    max-height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: aqua;
    margin-top: 22px;
    position: relative;
    border-radius: 5px;
    background-color: white;
     
  }
  .asignacion{
    width: 90%;
    margin: 0 auto;
    border: 0.0625rem solid #e4e9f2;
    height: 25%;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: transform .3s;
    background-color:white;
    margin-bottom: 5px;
  }
  .asignacion .check{
    color: #6c83a4;
  }
  .asignacion .data{
    width: 80%;
    display: flex;
    flex-direction: row;

  }
  
.asignacion.xdd{
  background-color:#0f3971;
  color: white;
  position: relative;
 margin-bottom: 5px;
 margin-top: 5px;
  transform: translateX(4%) scale(1.01);
}
.asignacion .circle3 label{
  
  font-size: 22px;
}
.asignacion.xdd i{
  color: white;
}
.asignacion.xdd  .details label:nth-child(2){
  color: white;
}
  .asignacion i{
    color: #13c298;
  }
  .data .details{
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  .data .circle3{
    width: 21%;
    display: flex;
    position: absolute;
    justify-content: center;
    top: -17px;
    align-items: center;
    margin-right: 10px;
    height: 57%;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    left: 83%;
  }
  .circle3 label{
    color: white;
    text-transform: uppercase;
    font-size: 15px;

  }
  
  .details label:first-child{
    font-weight: bold;font-size: 13px;display: flex;align-items: center;
  }
  .details label:nth-child(2){
    font-size: 12px;
    color: #b1b5ba;
    margin-top: 5px;
  }
  .details label:nth-child(3){
    width: 100%;
    height: 60px;
    white-space: normal;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .asignacion .options{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .asignacion .options label{
    font-size: 12px;
  }
  .asignacion .options button{
    padding: 5px 10px;
    color: white;
    font-size: 17px;
    border-radius: 4px;
    border: none;
    background-color: transparent;
  }


  .circle2{
    color: white;
    text-align: center;
    max-width: 100px;
    padding: 1px 15px;
    border-radius: 4px;
    font-size: 12.5px;
    margin-left: 10px;
    
  }
 

.asignacion.xdd::after{
  content: ' ';
  position: absolute;
}
  /*Visualizador Style*/
  .result{
      width: 100%;
      height: 100%;
      display: flex;
      padding: 15px 25px 15px 0px;
      flex-direction: column;
      
  }
  .detail-result{
    width: 100%;
    border-bottom: 3px solid #f7f7f7;
  }
  .detail-result h5{
    padding-left: 25px;
    font-size: 15px;
    font-weight: bold;
  }
  .buttons-group{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: row;
    padding: 15px 0px 15px 25px;
    align-items: center;
    justify-content: space-between;
 }
 .buttons-group a{
   color: #999999;
  font-size: 13px;
 } 
.buttons-group button{
  padding: 6px 10px;
  border: 1px solid #6c83a4;
  background: #0f3971;
  font-size: 11px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
}



  
  .result .paciente,.personal{
   display: flex;
   flex-direction: row;
   border-bottom: 3px solid #f7f7f7;
   padding: 10px 0px 10px 0px;
   margin-bottom: 10px;
     
  }
  
  .paciente .data , .personal .data{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 15px 15px 21px;
  }
  .data img{
    width: 8%;
    margin: 0 auto;
  }
 .paciente .data .files{
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
   
 }
 .personal .vol,.paciente .vol{
  font-weight: bold;
  margin-bottom: 15px;
  color: #777;
  width: 100%;
  background: transparent;
  font-size: 14px;
 }
 .files i{
   color: white;
 }
 .files label{
   font-size: 11px;
   margin-right:10px;
   font-weight: bold;
 }

.cuestionario{
  color: white;
  padding: 3px 15px;
  border: none;
  background-color: #66d4df;
  border-radius: 4px;
  max-width: 196px;
  font-size: 14px;
}

/** No result  */
.no-result{
    width: 100%;
    min-height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data{
  justify-content: center;
  align-items: flex-start;
  
  font-size: 14px;
}


/**/
.modal-dialog{
    margin: 1.75rem auto;
}
.modal-header{
    padding: 1rem 1rem;
}
.modal-body{
    padding: 1rem;
}
.modal-footer {
padding: 0.75rem;
}



/*             Quizz            **/
.quizz{
    width: 100%;
    list-style: none;
    padding: 20px;
}
.question{
    display: flex;
    flex-direction: row;
    font-size: 14.5px;
}
.question label:first-child{
   width: 90%;
   padding: 5px 5px;
   border: 1px solid;
}
.question label:last-child{
    width: 10%;
    border: 1px solid;
    text-align: center;
}










/** Modal de seleccion xdd*/
.hov label{
  font-size: 12px;
}
.hov{
  --c: #dbdada;
  font-size: 20px;
  display: flex;
  width: 250px;
  height: 125px;
  align-items: center;
  flex-direction: row;
  background-color: white;
  color: teal;
  border-radius: 10px;
  border: 0.3em solid var(--c);
  overflow: hidden;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}
.div-hov{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hov img{
    width: 30%;
   padding: 5px;
    margin-top: 20px;
    margin-bottom:20px;
    transition: 0.5s;
}

.hov:hover{
 
  background-color: white;
  color: black;
  border-color: black;
}
.hov:hover .div-hov label:last-child{
  color: white !important;
}
.hov.xdd .div-hov label:last-child{
  color:white !important;
}
.hov.xdd{
    background-color: #66d4df;
    color: black;
    border-color: black;
}

.hov span {
  position: absolute;
  width: 40%;
  height: 100%;
  background-color: #66d4df;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1.5) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.select_type{
  padding: 5px 10px;
  font-size: 12px;
  border: 2px solid rgba(100, 100, 111, 0.2);
  text-transform: uppercase;
  width: 30%;
  height: 80%;
  background: white;
  outline: none;
  border-radius: 5px;
  color: #444;

}

.hov:hover span {
  transform: translateY(0) scale(2);
}

.hov span:nth-child(1) {
  --n: 1;
}

.hov span:nth-child(2) {
  --n: 2;
}

.hov span:nth-child(3) {
  --n: 3;
}

.hov span:nth-child(4) {
  --n: 4;
}

.title2{
  
  width: 100%;
  text-align: center;
  padding: 0px 15px 30px 15px;
font-weight: bold;
font-size: 17px;
color: #198d8d;
}

/*    Table       */
.tablaxd {
  border-collapse: separate; 
  font-size: 12.5px;
  width: 100%;
  position: relative;
  border-spacing: 0px 7px; 
 
}
.tablaxd td{
  background: white;
  overflow: hidden;


}
.xdd2{
  position: absolute;
  top: -30px;
  left: 25px;
  padding: 5px 10px;
  font-size: 12px;
  border: 2px solid rgba(100, 100, 111, 0.2);
  text-transform: uppercase;
  width: 30%;
  height: 35px;
  background: white;
  outline: none;
  border-radius: 5px;
  color: #444;
}
.tablaxd th{
  
  overflow: hidden;


}
.tablaxd thead{
 
  color: #13c298;
  overflow: hidden;


}


.tablaxd .bodytable{
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  border-radius: 5px;
  
  
  height: 50px;
}
.tablaxd td:nth-child(1){
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tablaxd td:nth-child(2){
 font-weight: bold;
}
.tablaxd td:nth-last-child(1){
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 50px;
}

.tablaxd td:nth-last-child(2){

  padding-left: 50px;
}


.bodytable.xdd-table  > td{
  background-color: #66d4df ;
}

.confirm{
  margin-top: 0;
    padding: 6px 15px;
    outline: none;
    background-color: #66d4df;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}
.container-content{
  display: flex;flex-direction: row;    height: 100%;
}
@media only screen and (max-width: 1150px) {
  .container{
    min-height: 100%;
    height: max-content;
    justify-content: flex-start;
  }
  .container-content{
    
    flex-direction: column;
  }
  .no-result{
    padding: 20px 10px;
  }
 .container-content .list-asignaciones{
   width: 100%;
   height: max-content;
  
   padding-left: 10px;
   padding-right: 10px;
 }
 .list-asignaciones .list{
   overflow-y: hidden;
   display: flex;
   padding: 10px;
   flex-direction: row;
   overflow-x: auto;

 }
 .list-asignaciones .bottom{
   height: max-content;
   padding-top: 0;
   width: 100%;
 }
 .list-asignaciones .top{
  min-height: 30%;
  padding: 10px 35px 10px 35px;
  width: 100%;
 }
 .visualizador{
   width: 98%;
   margin-top: 0;
   margin: 0 auto;
   border-radius: 0;
   border-top: 5px solid #26aa9f;
   height: 100%;
 }
 .asignacion{
  min-width: 35%;
  
  height: 130px;
 margin-bottom: 0;
 margin-right: 15px;
 }
 .asignacion.xdd {
  position: relative;
  z-index: 99;
  margin-top: 5px;
  transform:  scale(1.01);
}
 }


 .divider{
  display: flex;flex-direction: row;width: 100%;margin-bottom: 20px;
 }

 @media only screen and (max-width: 1005px) {
   .asignacion{
     min-width: 48%;
   }
 
 }
 @media only screen and (max-width: 700px) {
   .asignacion{
     min-width: 95%;
   }
.container-content .list-asignaciones {
    padding-left: 10px;
    padding-right: 10px;
}
   .divider{
     flex-direction: column;
   }
   .divider .pt1{
     width: 100%;
   }
  /* .list-asignaciones .top{
    padding: 2px 10px 0px 10px;
  } */
  .no-result h6{
 text-align: center;
  }
 }
 @media only screen and (max-width: 430px) {
  .asignacion{
    min-width: 100%;
  }
  b .new{
    display: none;
  }
.top .title1{
  font-size: 16px;
}
  .list-asignaciones .top{
    padding: 10px;
  }
.select_type{
  width: 50%;
  font-size: 12px;
}

}

