
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> 
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
    <app-spinner-loader *ngIf="cargando" [message]="message" ></app-spinner-loader>
    <div class="container">
        <div class="container-content">
            <div class="list-asignaciones">
               <div class="top">
                 <div class="title1" *ngIf="asignaciones">
                   <b>Solicitudes  <label class="new">{{asignaciones.length + ' ' + 'nuevas'}}</label></b>
                   
                 </div>
                 <select name="" id="" [(ngModel)]="sede" class="select_type" (change)="get_Asignaciones_pendientes()">
                  <option value="UPeU Lima">UPeU Lima</option>
                  <option value="UPeU Tarapoto">UPeU Tarapoto</option>
                  <option value="UPeU Juliaca">UPeU Juliaca</option>
                </select>
               </div>
               <div class="bottom">
               
               <div class="list">
                <div class="asignacion"  (click)="ver_expediente(asig);fecha_actual=asig.fecha"  [ngClass]="{ 'xdd' : asig_actual == asig }" *ngFor="let asig of asignaciones">
                  <div class="data">
                      <div class="circle3" [style.background-color]="getColor(asig.categoria)" >
                                 <label for="">{{asig.nombre.charAt(0) +  asig.apellido.charAt(0)}}</label>
                      </div>
                      <div class="details">
                        <label >{{' ' + asig.nombre + ' ' + asig.apellido}}  </label>
                          <label style="margin-bottom: 5px;" ><i class="fas fa-map-marker-alt" style="margin-right: 10px ;"></i> {{' ' + asig.departamento }}</label>
                          <label class="description"> {{' ' + asig.descripcion}}</label>

                      </div>
                    </div>
                    <div class="options">
                        <label  ></label>
                        <button ><i class="fas fa-check-circle check"   ></i></button>
                  </div>
              </div>
               </div>
               </div>
             
              
    
    
            </div>
            <div class="visualizador">
              <app-spinner-loader *ngIf="cargando2"  [message]="message"></app-spinner-loader>
                <div class="no-result" *ngIf="!personal && !paciente">
                    <img src="assets/select_document.gif" width="300px" height="220px" style="margin-bottom: 15px;" alt="">
                    
                   <h6>Seleccione una solicitud para confirmar la asignación.</h6>
                </div>
                <div class="result" id="result" *ngIf="personal && paciente">
                   <div class="detail-result">
                     <h5>Detalles de la asignación del consultante <label  [ngStyle]="{'background':getColor(paciente.categoria)}" class="circle2" >{{paciente.categoria}}</label></h5>
                     <div class="buttons-group">
                       <a href="#" data-toggle="modal" data-target="#exampleModal2"  (click)="opcion='Psicologo';sede2 = sede;buscar_por_opcion()"><i style="margin-right: 10px;color: #18dbd8;" class="fas fa-flag"></i>Buscar otro disponible</a>
                      <button (click)="confirmar_asignacion()"><i style="margin-right: 10px;" class="fas fa-check-circle"></i>Confirmar Asignación</button>
                  </div>
                   </div>
                    <div class="paciente">
                       
                        <div class="data">
                          <label for="" class="vol">Consultante</label>    
                          <div style="display: flex;justify-content: space-between;flex-direction: row;width: 100%;    padding: 10px 15px;
                          border: 1px solid #dee2e6;background: #ccd5e1;">
                            <label style="font-weight: bold;" for="">  <img  [src]="paciente.genero == 'H'? 'assets/pach.png' : 'assets/pacm.png' "  alt="">{{' ' + paciente.nombre + ' ' + paciente.apellido}} </label>
                            <label style="font-size: 12.5px;" >{{fecha_actual  | date:'longDate'}}</label>
                          </div>

                          <div class="data-personal" style="width: 100%;">
                            <h6>Datos del consultante</h6>
                            <div class="divider">
                              <div class="pt1" >
                                <div>
                                  <label ><i class="fas fa-plus" ></i>Lugar de Procedencia  </label>
                                  <label for=""> {{  ' ' + paciente.departamento + ', '+ paciente.provincia + ', ' + paciente.distrito }}</label>
                                </div>
                                <div>
                                  <label for=""><i class="fas fa-plus" ></i>Edad</label>
                                  <label >{{ paciente.edad + ' ' }}años. </label>
                                </div>
                                <div>
                                  <label for=""><i class="fas fa-plus" ></i>Celular</label>
                                  <label >{{ paciente.telefono}} </label>
                                </div>
                              </div>
                              <div  class="pt1" >
                                <div  >
                                  <label for=""><i class="fas fa-plus" ></i>¿Cómo supo de OÍDO AMIGO?</label>
                                  <label for="">{{paciente.como_conocio}}</label>
                                </div>
                                <div >
                                  <label for=""> <i class="fas fa-plus"></i>Motivo de consulta:</label>
                                  <label for="">{{paciente.descripcion}}</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="files">
                            <label for="">SQR </label>
                            <button class="cuestionario" (click)="ver_respuestas(paciente.respuestas)" data-toggle="modal" data-target="#exampleModal"><i style="transform: rotate(-45deg);" class="fas fa-paperclip"></i></button>
                          </div>
                        </div>
                    </div>

                    <div class="personal"  style="padding-top: 0;">
                      <div class="data"  style="padding-top: 0;"  >
                        <label for="" class="vol">Voluntario asignado</label>    
                        <div style="display: flex;width: 100%;    padding: 10px 15px;
                        border: 1px solid #dee2e6;background: #ccd5e1;">
                          <label  style="font-weight: bold;text-transform: capitalize;width: 100%;">  <img src="assets/psicologo.jpg" style="margin-right: 10px;width: 4%;"  alt="">{{ '' +personal.nombre + ' ' + personal.apellido}}</label>
                        </div>
                        <div class="data-personal" style="width: 100%;">
                          <h6>Datos del voluntario</h6>
                          <div class="divider">
                            <div class="pt1" >
                              <div>
                                <label ><i class="fas fa-plus" ></i>Tipo  </label>
                                <label for="" style="text-transform: capitalize;"> {{  ' ' + personal.tipo + '.' }}</label>
                              </div>
                              <div>
                                <label ><i class="fas fa-plus" ></i>Sede  </label>
                                <label for=""> {{  ' ' + personal.sede + '.' }}</label>
                              </div>
                              <div>
                                <label for=""><i class="fas fa-plus" ></i>Celular</label>
                                <label >{{ personal.telefono}} </label>
                              </div>
                            </div>

                            <div  class="pt1"  *ngIf="personal.tipo == 'estudiante'">
                              <div  >
                                <label for=""><i class="fas fa-plus" ></i>Ciclo</label>
                                <label for="">{{personal.ciclo}}</label>
            
                              </div>
                              <div >
                                <label for=""> <i class="fas fa-plus"></i>Grupo</label>
                                <label for="">{{personal.grupo}}</label>
            
                              </div>
                           
                            </div>
                            <div  class="pt1" *ngIf="personal.tipo == 'psicologo'">
                              <div  >
                                <label for=""><i class="fas fa-plus" ></i>Grado académico actual</label>
                                <label for="">{{personal.grado_academico}}</label>
            
                              </div>
                             
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>

                </div>
    
            </div>
        </div>
        


    </div>
    









</body>



<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
            <label class="title2" >¿A quién desea derivar?</label>
            <div style="display: flex;flex-direction: row;justify-content: space-around;width: 100%;margin-bottom: 20px;">
                <div>
                  <button type="button" label="Psicologo"  class=" hov" [ngClass]="{'xdd': opcion == 'Psicologo'}" (click)="opcion='Psicologo';sede2= sede;buscar_por_opcion();">
                    <img  src="https://cdn-icons-png.flaticon.com/512/1056/1056496.png" />
                    <div class="div-hov">
                        <label >Psicólogo</label>
                        <label style="font-size: 12px;color: gray;text-transform: none;font-weight: normal;text-align: start;" >Egresados voluntarios de la carrera de Psicología.</label>

                    </div>
                    <span></span><span></span><span></span><span></span>
                  </button>
                </div>
                
               

                <div>
                  <button label="Interno" class=" hov" [ngClass]="{'xdd': opcion == 'Interno'}" (click)="opcion='Interno';sede2= sede;buscar_por_opcion();">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135810.png" />
                    <div  class="div-hov">
                        <label >Interno</label>
                        <label style="font-size: 12px;color: gray;text-transform: none;font-weight: normal;text-align: start;" >Alumnos del 9no y 10mo ciclo de la carrera de Psicólogia.</label>
                    </div>
                    <span></span><span></span><span></span><span></span>  
                  </button>
            
            
                </div>
              </div>
              <div style="width: 100%;">
                <app-spinner-blanc  *ngIf="cargando3"  [message]="message"></app-spinner-blanc>   
            <table datatable [dtOptions]="dtOptions" class="tablaxd" *ngIf="personal_searched && opcion=='Interno'">
              <select name="" id=" " class="xdd2" [(ngModel)]="sede2" (change)="buscar_por_opcion()">
                <option value="UPeU Lima">UPeU Lima</option>
                <option value="UPeU Tarapoto">UPeU Tarapoto</option>
                <option value="UPeU Juliaca">UPeU Juliaca</option>
              </select>
                <thead>
                  <tr class="headtable">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Ciclo</th>
                    <th>Código</th>
                    <th>Nro Pacientes Actuales</th>
                 
                    
                  </tr>
                </thead>
                <tbody>
                  <tr class="bodytable" *ngFor="let persona of personal_searched; let i=index" [ngClass]="{'xdd-table': personal_selected == persona}"    (click)="select_new_personal(persona)">
                    <td>{{ i+1 }}</td>
                    <td>{{ persona.nombre  + ' ' + persona.apellido}}</td>
                    <td>{{ persona.correo }}</td>
                    <td>{{ persona.ciclo }}</td>
                    <td>{{ persona.codigo }}</td>
                    <td>{{persona.nro_pacientes}}</td>

                  </tr>
            
                </tbody>
              </table>
              <table datatable [dtOptions]="dtOptions" class="tablaxd" *ngIf="personal_searched && opcion=='Psicologo'" >
                <select name="" id=" " class="xdd2" [(ngModel)]="sede2" (change)="buscar_por_opcion()">
                  <option value="UPeU Lima">UPeU Lima</option>
                  <option value="UPeU Tarapoto">UPeU Tarapoto</option>
                  <option value="UPeU Juliaca">UPeU Juliaca</option>
                </select>
                <thead>
                  <tr class="headtable">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Especialidad</th>
                    <th>Grado Académico</th>
                    <th>Nro Pacientes Actuales</th>
                 
                    
                  </tr>
                </thead>
                <tbody>
                  <tr class="bodytable" *ngFor="let persona of personal_searched; let i=index" [ngClass]="{'xdd-table': personal_selected == persona}" (click)="select_new_personal(persona)" >
                    <td>{{ i+1 }}</td>
                    <td>{{ persona.nombre  + ' ' + persona.apellido}}</td>
                    <td>{{ persona.correo }}</td>
                    <td>{{ persona.especialidad }}</td>
                    <td>{{ persona.grado_academico }}</td>
                    <td>{{persona.nro_pacientes}}</td>
                  </tr>
            
                </tbody>
              </table>
              </div>
        </div>
        <div class="modal-footer" *ngIf="personal_selected" style="justify-content: center;">
          <button type="button" class="btn btn-secondary" style="    padding: 4px 15px;margin-right: 15px;" (click)="cancel_Search()" data-dismiss="modal">Cancelar Selección</button>
          <button type="button" class="confirm" (click)="confirm_new_personal()" data-dismiss="modal" > {{'Seleccionar usuario: '  + personal_selected.nombre }}</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Autorreporte de Sintomas(SQR)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div>
                <ul class="quizz" >
                    <li class="question"  *ngFor="let pregunta of preguntas;let i=index">
                        <label for="" [ngStyle]="{'background-color': pregunta.grado == 'riesgo' ? 'red' : ( pregunta.grado == 'leve' ? 'green' : 'yellow') }">{{i+1 + '.  ' + '   '}}{{pregunta.name}}</label>
                        <label for="" >{{pregunta.value == 'true' ? 'Si' : ' No'}}</label>
                    </li>
                  </ul>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>