<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body>
  <div class="card-body">
    <div class="header">
      <h5><img class="imgheader" src="assets/paciente.png">Pacientes Asignados</h5>
    </div>
    <app-spinner-blanc *ngIf="cargando"></app-spinner-blanc>
    <div class="body-content" *ngIf="!cargando">

      <div class="list-cards" *ngIf="!cargando">

        <div *ngFor="let pac of datalist" class="card">
          <div class="cardleft">
            <span *ngIf="pac.genero=='H'" class="badge badge-pill badge-info">Hombre</span>
            <span *ngIf="pac.genero=='M'" class="badge badge-pill badge-danger">Mujer</span>
            <img *ngIf="pac.genero=='H'" class="img" src="assets/pach.png" />
            <img *ngIf="pac.genero=='M'" class="img" src="assets/pacm.png" />
          </div>
          <div class="cardrigth">
            <h5>{{pac.nombre }}</h5>

            <form class="info">
              <div class="form-group motivo">
                <div class="motivo1">
                  <label for="staticEmail">Motivo &nbsp;&nbsp;<mat-icon
                    class="icontool">pan_tool</mat-icon>:</label>
                <p>{{pac.motivo}}</p>
                </div >
                <div class="motivo2">
                  <label for="staticEmail">Telefono &nbsp;&nbsp;<mat-icon class="icontool1" matTooltipPosition="above"
                    matTooltip="{{pac.telefono}}">phone</mat-icon>:</label>
                    <p>{{pac.telefono}}</p>
                </div>
            
              

              </div>
              <div class="telefono">

                <label>Correo&nbsp;&nbsp; <mat-icon class="icontool">email</mat-icon>:</label>
                <p>{{pac.correo}}</p>
              </div>
              <div class="form-group descripcion">
                <label for="inputPassword">Descripcion&nbsp;&nbsp;<mat-icon
                    class="icontool">description</mat-icon>:</label>
                <p>{{pac.descripcion}}</p>
              </div>
            </form>
            <div class="botones">
              <button class="registerbtn" color="primary" data-toggle="modal"
                data-target="#register_aten"
                (click)="verificarsesiones(pac.idasignacion,pac.idpaciente)">Registrar
                Atencion</button>
              <button class="cancelbtn" color="basic" data-toggle="modal"
                data-target="#cancelaratencion" (click)="detallecancelar(pac)">Cancelar
                Atencion</button>
            </div>
          </div>
        </div>
      </div>
      <div class="listproximasS">
        <h5><img class="imgheader" src="assets/proximas.jpg">Proximas Sesiones</h5>
        <div class="proximassesiones">
          <!--Tabla-->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" class="ti">#</th>
                <th scope="col" class="ti">Nombre y Apellidos</th>
                <th scope="col" class="ti">Fecha</th>
                <th scope="col" class="ti">Hora</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let aten of atenciones_pend; let i= index">
                <td class="ti">{{i+1}}</td>
                <td>{{aten.nombre + ' ' + aten.apellido}}</td>
                <td class="ti">{{aten.fecha_sesion | date:'dd/MM/yyyy'}}</td>
                <td class="ti"></td>

              </tr>
            </tbody>
          </table>


        </div>

      </div>
    </div>
  </div>
</body>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<!-- Modal largo xd -->
<div class="modal fade bd-example-modal-lg" id="register_aten" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg"role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><img
            class="imgheader" src="assets/registerimg.png" />Registro de
          Atencion </h5>
        <button type="button" class="close" data-dismiss="modal"
          (click)="reset()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-spinner-blanc *ngIf="cargando2"></app-spinner-blanc>
      <div class="modal-body"*ngIf="!cargando2">
        <div class="imgregister">
          <img class="imagenreg" src="assets/atencionpsi.png" />
        </div>

        <div class="form1" *ngIf="counter==0">
          <h5>Datos Personales<img src="assets/datospersonal.png" /></h5>
          <form [formGroup]="datapaciente" class="forms">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Religion</mat-label>
              <input matInput type="text" formControlName="religion" />
              <mat-icon matSuffix>church</mat-icon>
              <mat-error
                *ngIf="datapaciente.get('religion').hasError('required')">*requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Ciudad</mat-label>
              <input matInput type="text" formControlName="ciudad" />
              <mat-icon matSuffix>location_city</mat-icon>
              <mat-error
                *ngIf="datapaciente.get('ciudad').hasError('required')">*requerido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput type="date" formControlName="fecha_nacimiento"
                disabled />

              <mat-error
                *ngIf="datapaciente.get('fecha_nacimiento').hasError('required')">*requerido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Grado de educacion</mat-label>
              <mat-select formControlName="grado_educacion" name="food">
                <mat-option value="primaria">Primaria</mat-option>
                <mat-option value="secundaria">Secundaria</mat-option>
                <mat-option value="universidad">Universidad</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Edad</mat-label>
              <input matInput type="text" formControlName="edad" />
              <mat-icon matSuffix>directions_run</mat-icon>
              <mat-error *ngIf="datapaciente.get('edad').hasError('required')">*requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Ocupacion</mat-label>
              <input matInput type="text" formControlName="ocupacion" />
              <mat-icon matSuffix>work</mat-icon>
            </mat-form-field>
          </form>
        </div>

        <div class="form1">
          <h5>Datos de Sesion<img src="assets/datasesion.png" /></h5>
          <form [formGroup]="datosatencion" class="forms2">
            <div class="mediumclass">
              <mat-label>Sesion Nro. </mat-label>
              <input type="text" formControlName="nro_sesion" class="sesion" />
            </div>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Condicion</mat-label>
              <input matInput type="text" formControlName="condicion" />
              <mat-icon matSuffix>thermostat</mat-icon>
              <mat-error
                *ngIf="datosatencion.get('condicion').hasError('required')">*requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Evidencia</mat-label>
              <input matInput type="text" formControlName="evidencia" />
              <mat-icon matSuffix>link</mat-icon>
              <mat-error
                *ngIf="datosatencion.get('evidencia').hasError('required')">*requerido</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill"
              class="largeclass">
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="observaciones"
                placeholder="Ex. It makes me feel..."></textarea>
              <mat-icon matSuffix>content_paste</mat-icon>
              <mat-error
                *ngIf="datosatencion.get('observaciones').hasError('required')">*requerido</mat-error>
            </mat-form-field>

            <div *ngIf="counter==2">
              <mat-slide-toggle [(ngModel)]="derivacion"
                [ngModelOptions]="{standalone: true}" name="derivacion"
                class="example-margin" [color]="color" [checked]="checked"
                [disabled]="disabled">
                ¿Derivar con especialista?
              </mat-slide-toggle>
            </div>
          </form>
        </div>




        <div class="form1" *ngIf="counter!=2">
          <h5>Proxima Sesion<img src="assets/horario.jpg" /></h5>
          <form [formGroup]="fechaatencion" class="horario">
            <mat-form-field appearance="fill" disabled>
              <mat-label>Proxima Sesion</mat-label>
              <input matInput type="date" formControlName="fecha" disable />
              <mat-error
                *ngIf="fechaatencion.get('fecha').hasError('required')">*requerido</mat-error>
            </mat-form-field>
            <p>Hora: <input type="time" name="eta" /></p>
          </form>
        </div>

        <div class="btns-form" *ngIf="counter==0">
          <button mat-button (click)="reset()" data-dismiss="modal"
            class="btn-step2">Cancelar <mat-icon matSuffix>cancel</mat-icon></button>
          <button mat-button class="btn-step" (click)="registraratencion()"
            [disabled]="datapaciente.invalid || datosatencion.invalid ||
            fechaatencion.invalid">Guardar <mat-icon matSuffix>save_alt</mat-icon></button>
        </div>
        <div class="btns-form" *ngIf="counter==1">
          <button mat-button (click)="reset()" data-dismiss="modal"
            class="btn-step2">Cancelar <mat-icon matSuffix>cancel</mat-icon></button>
          <button mat-button class="btn-step" (click)="registraratencion()"
            [disabled]="datosatencion.invalid || fechaatencion.invalid">Guardar
            <mat-icon matSuffix>save_alt</mat-icon></button>
        </div>
        <div class="btns-form" *ngIf="counter==2">
          <button mat-button (click)="reset()" data-dismiss="modal"
            class="btn-step2">Cancelar <mat-icon matSuffix>cancel</mat-icon></button>
          <button mat-button class="btn-step" (click)="registraratencion()"
            [disabled]="datosatencion.invalid">Guardar<mat-icon matSuffix>save_alt</mat-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cancelaratencion" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Cancelar Atencion</h5>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Paciente</label>
          <div *ngIf="detallecancelacion" class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext"
              [(ngModel)]="detallecancelacion.nombre + ' ' +
              detallecancelacion.apellido" id="staticEmail" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Motivo de Cancelacion:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1"
            [(ngModel)]="motivocancelar" rows="3"></textarea>
        </div>
        <div class="footer">
          <button type="button" class="btn btn-basic asdasd"
            data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-basic asdasd"
            (click)="cancelaratencion()">Guardar<mat-icon class="icon"
              matSuffix>save</mat-icon></button>
        </div>


      </div>



    </div>
  </div>
</div>