<head>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<header class="nav_var">
        <div class="cabezera">
            <div id="iconogeneral"></div>
            
            <div class="menu_home">
            
            <button (click)="loginpsi()" class="btn-login">Login</button>
            
            </div>

        </div>
</header>
<div class="padre">

  <div class="card">
  <h1>Somos tu soporte</h1>
  <h1>Cuando mas lo necesites!!</h1>
  <p>Tenemos como objetivo brindar primeros auxilios psicológicos, a personas con dificultades emocionales, causadas por el aislamiento social en el contexto de la pandemia.</p>
  <button (click)="cerrar()">Registrate aqui!</button>
  
  </div>

  
 
</div>
