<head>

 
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>
  <nav >
    <div id="iconogeneral"></div>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
            
    <ul class="menu_home">  
        <li><button  class="btn-menu" (click)="value()">Valoranos</button></li>
        <li>  <button  class="btn-menu">Contáctanos</button></li>
        <li>  <button (click)="loginpsi()" class="btn-login">Inicia Sesión<i class="fas fa-sign-in-alt" style="margin-left: 10px;margin-bottom: -9px;"></i></button></li>
    </ul>
</nav>

<div class="padre">
   <img src="assets/homedesign.jpg"  class="img-2" alt="">
  <div class="card">
  <label for="">OÍDO<span>AMIGO</span></label>
  <h1>servicio psicológico <b>gratuito</b> </h1>
  <p>Tenemos como propósito ayudarte a afrontar dificultades emocionales y mejorar tu calidad de vida.</p>
  <button (click)="cerrar()">¡ Realiza tu consulta aquí !</button>
  
  </div>

  
 
</div>

</body>