<head>
    
   
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<body>


 
 
    <h5 class="title">Panel Administrativo</h5>
  
      
    
    
    <div class="row" >
        <div class="col-3">
            <img  class="imgrow" src="assets/gest-op.png" alt="">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Roles </a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Opciones</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Usuarios Activos</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Solicitudes</a>
            <a class="nav-link" id="v-pills-unactive-tab" data-toggle="pill" href="#v-pills-unactive" role="tab" aria-controls="v-pills-unactive" aria-selected="false">Usuarios dados de baja</a>
          </div>
        </div>
        <div  class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <div  class="formulario"  >
                    
                    <div class="form">
                       <div class="form-one">
                        <label><button type="button" id="add-btn"  class="btn btn-success" data-toggle="modal" data-target="#createrrolmodal"><i class="fas fa-plus-square"></i></button>Roles Actuales:</label>
                        <select class="form-select" [(ngModel)]="rolactual">
                            <option value="" selected>-- none --</option>
                            <option *ngFor="let rol of roles" value="{{rol.idrol}}">{{rol.nombre}}</option>
                        </select>
                       </div>
                       <div class="form-two">
                           <label >Acciones:</label>
                           
                        <button type="button" class="btn btn-info" data-toggle="modal" (click)="getopcionesrol()" [disabled]="!rolactual" data-target="#deleteoprol"><i class="fas fa-eye"></i>Opciones asignadas</button>
                        <button type="button"  class="btn btn-danger" [disabled]="!rolactual" (click)="eliminarrol()"> <i class="fas fa-trash-alt"></i>Eliminar rol</button>
                        <button type="button" class="btn btn-primary" [disabled]="!rolactual" (click)="getrol()" data-toggle="modal" data-target="#modifyrolmodal"> <i class="fas fa-edit"></i>Editar Rol</button>
                        <button type="button" class="btn btn-dark" [disabled]="!rolactual" (click)="getopcionesdisponibles()" data-toggle="modal" data-target="#agregaropcionrol">
                             <i class="fas fa-plus-circle"></i>Agregar opción a rol
                        </button>
                    </div>
                    </div>

                    
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="formulario">
                   
                    <div class="form">
                        <div class="form-one">
                            <label> <button type="button" id="add-btn"  class="btn btn-success" data-toggle="modal" data-target="#createropcmodal"><i class="fas fa-plus-square"></i></button>Opciones:  </label>
                            <select class="form-select" [(ngModel)]="opcionactual">
                                <option value="" selected>-- none --</option>
                                <option *ngFor="let opcion of opciones" value="{{opcion.idopcion}}">{{opcion.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-two">
                            <label >Acciones:</label>
                            <button type="button"  class="btn btn-danger" (click)="eliminaropc()" [disabled]="!opcionactual"> <i class="fas fa-trash-alt"></i> Eliminar opción</button>
                            <button type="button" class="btn btn-primary" (click)="getopcion()" [disabled]="!opcionactual" data-toggle="modal" data-target="#modifyopcmodal">
                                <i class="fas fa-edit"></i>Modificar opción
                            </button>
                        </div>
                       
                    </div>
                   
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <div class="container" style="margin-top: 10px;padding: 5px">
                    <div class="bysede">
                        <div>
                            <label for="">Sede:</label>
                            <select name="" id=""   [(ngModel)]="sede2" (change)=" listarusuarios()">
                                <option value="UPeU Lima">UPeU Lima</option>
                                <option value="UPeU Juliaca">UPeU Juliaca</option>
                                <option value="UPeU Tarapoto">UPeU Tarapoto</option>
                            </select>
                        </div>
                        <div>
                            <label for="">Tipo:</label>
                            <select name="" id=""  [(ngModel)]="opcion2" (change)=" listarusuarios()">
                                <option value="estudiante">Interno</option>
                                <option value="psicologo">Psicólogo</option>
                            
                            </select>

                        </div>
                    </div>
                    <div class="cont-table">
                        <app-spinner-blanc [message]="'Cargnado usuarios activos.....'" *ngIf="cargando_activos==true"></app-spinner-blanc>
                        <button (click)="exportexcel()" class="btn-excel"><i class="fas fa-file-excel" style="margin-right: 10px;"></i>Ver en excel</button>
                        <table datatable [dtOptions]="dtOptions" id="list_users" class="tablaxd nowrap" *ngIf="usuariosactivos && !cargando_activos">
                            <thead>
                              <tr class="headtable">
                                <th>#</th>
                                
                                <th>Nombre completo</th>
                                <th>Correo</th>
                                <th>Roles Asignados</th>
                                <th>Agregar Rol</th>
                                <th>Desactivar usuario</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="bodytable" *ngFor="let post of usuariosactivos; let i=index">
                                <td>{{ i+1 }}</td>
                                <td>{{ post.nombre  + ' ' + post.apellido}}</td>
                                <td>{{ post.correo }}</td>
                                <td><button type="button" data-toggle="modal"
                                    data-target="#detallerol"
                                    (click)="listarrolesactuales(post.idusuario)"
                                    class="btn btn-success"><i class="far fa-eye"></i></button></td>
                                <td> <button type="button" class="btn btn-info"
                                    data-toggle="modal"
                                    data-target="#agregarroluser"
                                    (click)="agregarrol_user(post.idusuario)"><i class="fas fa-user-plus"></i></button></td>
                                    <td> <button type="button" class="btn btn-danger"
                                        (click)="desactivar_usuario(post.idusuario)"><i class="fas fa-user-slash"></i></button></td>
                              </tr>
                        
                            </tbody>
                          </table>
                    </div>
               
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">  
                <div class="container" style="margin-top: 10px;padding: 5px">
                    <div class="bysede">
                        <div>
                            <label for="">Sede:</label>
                            <select name="" id=""   [(ngModel)]="sede" (change)=" get_solicitudes_por_sede()">
                                <option value="UPeU Lima">UPeU Lima</option>
                                <option value="UPeU Juliaca">UPeU Juliaca</option>
                                <option value="UPeU Tarapoto">UPeU Tarapoto</option>
                            </select>
                        </div>
                        <div>
                            <label for="">Tipo:</label>
                            <select name="" id=""  [(ngModel)]="opcion" (change)=" get_solicitudes_por_sede()">
                                <option value="estudiante">Interno</option>
                                <option value="psicologo">Psicólogo</option>
                            </select>

                        </div>
                    </div>
                    <div class="cont-table">
                        <app-spinner-blanc [message]="'Cargnado solicitudes...'" *ngIf="cargando_sol==true"></app-spinner-blanc>
                        <table datatable [dtOptions]="dtOptions" class="tablaxd" id="example" *ngIf="solicitudesdeusuario && !cargando_sol">
                     
                            <thead>
                             
                                
                              <tr class="headtable">
                             
                                <th>Nro.</th>
                                <th>Nombre</th>
                                <th>Tipo</th>
                                
                                <th>Correo</th>
                                <th>Detalle</th>
                                <th>Crear Usuario</th>
                                <th>Rechazar Solicitud</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="bodytable" *ngFor="let post of solicitudesdeusuario; let i=index">
                               
                                <td>{{ i+1 }}</td>
                                <td>{{ post.nombre  + ' ' + post.apellido}}</td>
                                <td>{{ post.tipo }}</td>
                                <td>{{ post.correo }}</td>
                                <td> <button type="button" data-toggle="modal"
                                    data-target="#detallepsi"
                                    (click)="detallepsi(post)"
                                    class="btn btn-success"><i class="far fa-eye"></i></button></td>
                                <td> <button type="button"class="btn btn-info"
                                    data-toggle="modal" data-target="#crearuser"(click)="crearuser(post)"><i class="fas fa-user-plus"></i></button></td>
                                <td> <button type="button" class="btn btn-danger"
                                    (click)="rechazarsol(post)" ><i class="fas fa-user-times"></i></button></td>
                              </tr>
                        
                            </tbody>
                          </table>
                    </div>
                   
                </div>
                 
            </div>
            <div class="tab-pane fade" id="v-pills-unactive" role="tabpanel" aria-labelledby="v-pills-unactive-tab">
                <div class="container" style="margin-top: 10px;padding: 5px">
                    <div class="cont-table">
                        <app-spinner-blanc [message]="'Cargando usuarios dados de baja ...'" *ngIf="cargando_dis==true"></app-spinner-blanc>
                        <table datatable [dtOptions]="dtOptions" class="tablaxd nowrap" *ngIf="usuarios_desactivados && !cargando_dis">
                            <thead>
                              <tr class="headtable">
                                <th>#</th>
                                <th>Nombre completo</th>
                                <th>Sede</th>
                                <th>Tipo</th>
                                <th>Correo</th>
                                <th>Activar usuario</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="bodytable" *ngFor="let post of usuarios_desactivados; let i=index">
                                <td>{{ i+1 }}</td>
                                <td>{{ post.nombre  + ' ' + post.apellido}}</td>
                                <td>{{ post.sede}}</td>
                                <td>{{ post.tipo}}</td>
                                <td>{{ post.correo }}</td>
                                    <td> <button type="button" style="background-color: green;border-color: green;" class="btn btn-danger"
                                        (click)=" activar_usuario(post.idusuario)"><i class="fas fa-user-slash"></i></button></td>
                              </tr>
                        
                            </tbody>
                          </table>

                    </div>
                  
             
                </div>
            </div>
          </div>
        </div>
      </div>
      
  
   
  


    
</body>


<!-- Modal Eliminar Opciones de rol -->
<div class="modal fade" id="deleteoprol" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Opciones actuales del Rol</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="cerraropcionesactuales()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
               <app-spinner-blanc *ngIf="cargando"></app-spinner-blanc>
            <div class="modal-body" *ngIf="!cargando">
                <h3 *ngIf="opcionesactualesdelrol.length<1">No se encontraron opciones para este rol!!</h3>
                <table *ngIf="opcionesactualesdelrol.length>=1" class="table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let op of opcionesactualesdelrol ;let i= index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{op.nombre}}</td>
                            <td style="text-align: center;"><i class="fas fa-trash-alt" style="color: red; cursor: pointer;" (click)="eliminaropcion_rol(op.idop_rol)" data-dismiss="modal"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerraropcionesactuales()" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Modificar Rol -->
<div class="modal fade" id="modifyrolmodal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modificar Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-style"  *ngIf="rolupd">
                    <label >Nombre del Rol:</label>
                    <div class="div-son">
                        <input type="text"  [(ngModel)]="rolupd.nombre" > 
                        <i class="fas fa-user-shield" ></i>
                    </div>
                </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarrol()" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="modificarRol()" data-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar opcion a  Rol -->
<div class="modal fade" id="agregaropcionrol" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agregar opcion al Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Opciones Disponibles:</label>
                <select class="form-select" [(ngModel)]="opciondisp" *ngIf="opcionesdisponibles">
                    <option value="" selected>-- none --</option>
                    <option *ngFor="let opc of opcionesdisponibles" value="{{opc.idopcion}}">{{opc.nombre}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarrolactual()" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" [disabled]="!opciondisp" (click)="asignarol_usuario()" data-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Crear Rol-->
<div class="modal fade" id="createrrolmodal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registrar Rol</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-style">
                    <label >Nombre del Rol:</label>
                    <div class="div-son">
                        <input type="text" [(ngModel)]="rolupd.nombre"> 
                        <i class="fas fa-user-shield" ></i>
                    </div>
                </div>
                
        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarrol()">Cerrar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="agregarrol()">Crear</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  Modificar opciones-->
<div class="modal fade" id="modifyopcmodal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modificar Opciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
               <app-spinner-blanc *ngIf="cargando"></app-spinner-blanc>
            <div class="modal-body" *ngIf="!cargando">
                <div class="input-style" *ngIf="opcionupd">
                    <label >Nombre :</label>
                    <div class="div-son">
                        <input type="text"  [(ngModel)]="opcionupd.nombre"> 
                        <i class="fas fa-user-shield" ></i>
                    </div>
                </div>
                <div class="input-style" *ngIf="opcionupd">
                    <label >Icono :</label>
                    <div class="div-son">
                        <input type="text"  [(ngModel)]="opcionupd.icono"> 
                        <i class="far fa-images"></i>
                    </div>
                </div>
                <div class="input-style" *ngIf="opcionupd">
                    <label >Ruta :</label>
                    <div class="div-son">
                        <input type="text"  [(ngModel)]="opcionupd.ruta" > 
                        <i class="fas fa-code"></i>
                    </div>
                </div>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerraropc()" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="modificarOpc()" data-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Crear opciones-->
<div class="modal fade" id="createropcmodal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registrar Opciones</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-style" *ngIf="opcionupd">
                    <label >Nombre :</label>
                    <div class="div-son">
                        <input type="text"  [(ngModel)]="opcionupd.nombre"> 
                        <i class="fas fa-user-shield" ></i>
                    </div>
                </div>
                <div class="input-style" *ngIf="opcionupd">
                    <label >Icono :</label>
                    <div class="div-son">
                        <input type="text"  [(ngModel)]="opcionupd.icono"> 
                        <i class="far fa-images"></i>
                    </div>
                </div>
                <div class="input-style" *ngIf="opcionupd">
                    <label >Ruta :</label>
                    <div class="div-son">
                        <input type="text"  [(ngModel)]="opcionupd.ruta" > 
                        <i class="fas fa-code"></i>
                    </div>
                </div>
            
        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerraropc()">Cerrar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="agregarOpc()">Crear</button>
            </div>
        </div>
    </div>
</div>









<!-- Modal Agregar rol a  Usuario -->
<div class="modal fade" id="agregarroluser" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Agregar Rol a
                    Usuario</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>Roles Disponibles:</label>
                <select class="form-select" [(ngModel)]="rolactualdisp"
                    *ngIf="rolesdisponibles">
                    <option value="" selected>-- none --</option>
                    <option *ngFor="let rol of rolesdisponibles"
                        value="{{rol.idrol}}">{{rol.nombre}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    (click)="cerrarrolactual()" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary"
                    [disabled]="!rolactualdisp" (click)="asignaropc_usuario()"
                    data-dismiss="modal">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Mostrar roles actuales del usuario -->
<div class="modal fade" id="detallerol" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog"role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Roles del
                    Usuario</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-spinner-blanc *ngIf="cargando"></app-spinner-blanc>
            <div class="modal-body" *ngIf="!cargando">

                <h3 *ngIf="rolesactualesdeluser.length==0">No se encontraron
                    roles asignados a este usuario!</h3>
                <table class="table" *ngIf="rolesactualesdeluser.length>=1"
                    style="width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rol of rolesactualesdeluser ;let i=
                            index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{rol.nombre}}</td>
                            <td style="text-align: center;">
                                <i class="fas fa-trash"  style="color: red;cursor:pointer"
                                (click)="eliminarrol_user(rol.iduser_rol)" data-dismiss="modal"></i>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    (click)="cerrardata()" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>







<!-- Modal Mostrar detalle de la solicitud -->
<div class="modal fade" id="detallepsi" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog"role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLongTitle">  Detalles de
                    la Solicitud</h6>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-spinner-blanc *ngIf="cargando"></app-spinner-blanc>
            <div class="modal-body" *ngIf="!cargando" style=" text-align: center;">

             
                <div class="detalledata" *ngIf="detalleelemetn" style="width: 100%;">
                   

                      <h4 style="text-align: center;font-weight: bold;color:
                      #455a64;text-transform: capitalize; margin-right: 0;margin-left: 0; width: 100%;margin-bottom: 25px;">
                    
                      {{detalleelemetn.nombre + ' ' + detalleelemetn.apellido}}</h4>
                      <img class="detail_img"
                      *ngIf="detalleelemetn.tipo=='psicologo'"
                      src="assets/psi-logo.jpg" />
                    <img class="detail_img"
                      *ngIf="detalleelemetn.tipo=='estudiante'"
                      src="assets/int-logo.png"
                      />
                    <div *ngIf="detalleelemetn.tipo=='psicologo'" class="group-item">

                        <div class="input-style" >
                            <label >Especialidad :</label>
                            <div class="div-son">
                                <input type="text"      [(ngModel)]="detalleelemetn.especialidad" disabled> 
                                <i class="fas fa-university"></i>
                            </div>
                        </div>

                        <div class="input-style" >
                            <label >Colegiatura :</label>
                            <div class="div-son">
                                <input type="text"    [(ngModel)]="detalleelemetn.n_colegiatura" disabled> 
                                <i class="fas fa-university"></i>
                            </div>
                        </div>
                        <div class="input-style" >
                            <label >Grado Academico :</label>
                            <div class="div-son">
                                <input type="text"    [(ngModel)]="detalleelemetn.grado_academico" disabled> 
                                <i class="fas fa-university"></i>
                            </div>
                        </div>
          
                    </div>
                    <div *ngIf="detalleelemetn.tipo=='estudiante'" class="group-item">

                        <div class="input-style" >
                            <label >Ciclo/Grupo :</label>
                            <div class="div-son">
                                <input type="text"    [(ngModel)]="detalleelemetn.ciclo + '/' + detalleelemetn.grupo" disabled> 
                                <i class="fas fa-university"></i>
                            </div>
                        </div>
                        <div class="input-style" >
                            <label >Codigo:</label>
                            <div class="div-son">
                                <input type="text"    [(ngModel)]="detalleelemetn.codigo" disabled> 
                                <i class="fas fa-university"></i>
                            </div>
                        </div>
                     
          
                    </div>




                 


                </div>
            </div>

        </div>
    </div>
</div>



<!-- Modal Crear usuario -->
<div class="modal fade" id="crearuser" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog"role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLongTitle"> Generar
                    Usuario</h6>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-spinner-blanc *ngIf="cargando"></app-spinner-blanc>
            <div class="modal-body " *ngIf="!cargando">

                <div class="detalledata2" *ngIf="usuarioelement" style="width:
                    100%;height: 80%;">
                    <div class="input-style" >
                        <label >Para :</label>
                        <label for=" ">    <i class="far fa-user-circle" style="margin-right: 10px;color: chocolate;"></i>{{usuarioelement.correo}}</label>
                    </div>
                    <div class="input-style" >
                        <label >Asunto :</label>
                        <label for=" "> Credenciales de inicio de sesión</label>
                    </div>
                    <div class="cont-message">
                        <div class="message" >
                            <label >Usuario :</label>
                           
                                <input type="text"        [(ngModel)]="usuario.username" > 
                            
                        </div>
                        <div class="message" >
                            <label >Contraseña :</label>
                            
                                <input type="password"  disabled    [(ngModel)]="usuario.password" > 
                            
                        </div>
                        <div class="message" >
                            <label >Rol inicial :</label>
                            
                                <select class="form-select" [(ngModel)]="usuario.rol" >
                                    <option value="" selected>-- none --</option>
                                    <option *ngFor="let opc of roles" value="{{opc.idrol}}">{{opc.nombre}}</option>
                                </select>
                            
                        </div>
                    </div>
                    

                   
                    

                  



                    <button class="btn-crearuser"(click)="guardarusuario()"
                        [disabled]="activo==false">Crear Usuario</button>

                </div>

            </div>

        </div>
    </div>
</div>
