
<body class="opacity">
    
    <div class="container">
        <img src="assets/spinetoa.png" alt="">
        <div>
            <h4>Oído Amigo</h4>
            <div class="center">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
              </div>
        </div>
    </div>
   

</body>