<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>

<app-spinner-loader *ngIf="cargando" [message]="message" ></app-spinner-loader>
<body>
  <div class="container">
  
    <div class="container-cont">

      <div class="top-content">
       
     
          <img  id="imagendeperfil" >
       
      
          <div class="perfil">
            <h3 class="name">{{nombrecompleto}}</h3>
            <label for=""   >{{correo}}</label>
            <label style="text-transform: capitalize;color: green;" > {{tipo}}</label>
            <label for=""  >{{telefono}}</label>
             <button *ngIf="!archivo" class="uploadfoto">
              <i class="fas fa-camera-retro" style="margin: 0; padding: 0;"></i>
              <label style="margin-bottom: 0; color: white;">Cambiar foto</label>
              <input type="file" accept=".jpg, .png, .jpeg" style="opacity: 0; width: 100%;height: 100%;cursor: pointer;position: absolute;top: 0;left: 0;" [(ngModel)]="foto"  (change)="mostrar($event)">
            </button>
            <div class="btn-foto-group">

              <button *ngIf="archivo"  class="check" (click)="subirfoto()" style="  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><i class="fas fa-check" ></i>Actualizar Foto</button>
       
              <button *ngIf="archivo"   class="uncheck" (click)="eliminarfoto()" style=" box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"> <i class="fas fa-trash"></i>Cancelar</button>
            </div>
           
      
            
          </div>
      </div>
      <div class="rigth-content">
        
      
            <h4>Mi Perfil</h4>
            <h5>Informacion Personal</h5>
            <form [formGroup]="datos_personales" class="datapersonal">
              <div class="input-style wi-50" >
                <label for="staticEmail"  style="font-size: 13px;" >Nombres</label>
                    <fieldset [disabled]="true">
                     <input type="text" formControlName="nombre" placeholder="Nombre"  [disabled]="!editstate"    [class.is-invalid]="this.datos_personales.get('nombre').invalid && this.datos_personales.get('nombre').touched"     >
                    </fieldset>
              </div>
              <div class="input-style wi-50" >
                <label for="staticEmail"  style="font-size: 13px;" >Apellidos</label>
                <fieldset [disabled]="true">
                  <input type="text"  formControlName="apellido" placeholder="Apellidos"   [class.is-invalid]="this.datos_personales.get('apellido').invalid && this.datos_personales.get('apellido').touched"  >
                </fieldset>
              </div>
            

              <div class="input-style">
                <label for="staticEmail"  style="font-size: 13px;" >Correo</label>
                  <fieldset [disabled]="!editstate">
                  <input type="text" formControlName="correo" placeholder="Nombre"     [class.is-invalid]="this.datos_personales.get('correo').invalid && this.datos_personales.get('correo').touched"     >
                </fieldset>
              </div>

              <div class="input-style">
                <label for="staticEmail"  style="font-size: 13px;" >Celular</label>
                
                  <fieldset [disabled]="!editstate">
                  <input type="text" formControlName="telefono" placeholder="Nombre"    [class.is-invalid]="this.datos_personales.get('telefono').invalid && this.datos_personales.get('telefono').touched"     >
                </fieldset>
               
              </div>

              <div class="input-style">
                <label for="staticEmail"  style="font-size: 13px;" > Sexo</label>
                <fieldset [disabled]="true">
                  <select  formControlName="genero" [class.is-invalid]="this.datos_personales.get('genero').invalid && this.datos_personales.get('genero').touched" class="form-select">
                    <option value="H">
                      Hombre
                    </option>
                    <option value="M">
                      Mujer
                    </option>
                  </select>
                </fieldset>
  
              </div>
            
               
            </form>
            <button (click)="  this.editstate = true;" *ngIf="!editstate" class="editbtn">
              <i class="fas fa-edit"></i> Editar datos personales
            </button>
          
  
  
          <div *ngIf="editstate" class="savebtns">
            <button (click)="this.editstate = false;get_datos_personales()" class="btn1">
              <i class="fas fa-window-close"></i>Cancelar
            </button>
            <button (click)="save()" class="btn2">
              <i class="fas fa-cloud-upload-alt"></i>Guardar
            </button>
          </div>
            <h5>Informacion Academica</h5>
            <form class="datapersonal" *ngIf="tipo=='estudiante'">
              <div class="input-style" >
                <label   style="font-size: 13px;" >Ciclo</label>
                <fieldset [disabled]="!editstate2">
                  <select  [(ngModel)]="personal.ciclo"   name="ciclo" >
                    <option value="9">
                      9
                    </option>
                    <option value="10">
                      10
                    </option>
                  </select>
                </fieldset>
              </div>

              <div class="input-style">
                  <label   style="font-size: 13px;" >Grupo</label>
                  <fieldset [disabled]="!editstate2">
                   <input type="text"  [(ngModel)]="personal.grupo"  name="grupo"  >
                  </fieldset>
              </div>

              <div class="input-style">
                <label  style="font-size: 13px;" >Codigo</label>
                <div class="col-sm-3.5 ml-8">
                  <fieldset [disabled]="true">
                    <input type="text" [(ngModel)]="personal.codigo" name="codigo" >
                </fieldset>
                </div>
              </div>

             
            </form>
            <div *ngIf="tipo=='estudiante'">

              <button *ngIf="!editstate2" (click)="this.editstate2 = true;" class="editbtn">
                <i class="fas fa-edit"></i>Editar datos académicos
              </button>        
      
            <div *ngIf="editstate2" class="savebtns">
              <button (click)="this.editstate2 = false;" class="btn1">
                <i class="fas fa-window-close"></i> Cancelar
              </button>
              <button (click)="save2()" class="btn2">
                <i class="fas fa-cloud-upload-alt"></i>Guardar
              </button>
            </div>
            </div>
      
        
      
            <form class="datapersonal" *ngIf="tipo=='psicologo'" style="margin-top: 0px;">
              

            <div class="input-style">
              <label   style="font-size: 13px;" >Especialidad</label>
              <fieldset [disabled]="!editstate2">
               <input type="text"  [(ngModel)]="personal.especialidad"  name="especialidad"  >
              </fieldset>
          </div>

          <div class="input-style">
            <label   style="font-size: 13px;" >Colegiatura</label>
            <fieldset [disabled]="!editstate2">
             <input type="text"  [(ngModel)]="personal.n_colegiatura"  name="Colegiatura"  >
            </fieldset>
        </div>
              
        <div class="input-style" >
          <label for="staticEmail"  style="font-size: 13px;" >Grado Academico</label>
          <fieldset [disabled]="!editstate2">
            <select  [(ngModel)]="personal.grado_academico"   name="grado_academico" >
              <option value="Bachiller">Bachiller</option>
              <option value="Licenciado">Licenciado</option>
              <option value="Magíster">Magíster</option>
              <option value="Doctor">Doctor</option>
            </select>
          </fieldset>
        </div>
            </form>
            <div *ngIf="tipo=='psicologo'">

              <button (click)="this.editstate2 = true;"  *ngIf="!editstate2" class="editbtn">
                <i class="fas fa-edit"></i> 
              </button>
         
    
      
            <div *ngIf="editstate2" class="savebtns"  style="margin-top: 0;">
              <button (click)="this.editstate2 = false;" class="btn1">
                <i class="fas fa-window-close"></i>
              </button>
              <button (click)="save2()" class="btn2">
                <i class="fas fa-cloud-upload-alt"></i>
              </button>
            </div>
            </div>



            <div style="width: 100;height: 100%; ">
              <h5 >Horario</h5>
        
                <form class="time-container">
                <div class="horarioadd">
                  <div class="horario-input" >
        
                    <label>Dia:</label>
                    <select [(ngModel)]="dia" name="dia">
                      <option *ngFor="let d of dias" value="{{d}}">{{d}}</option>
                    </select>
                  </div>
                  <div class="horario-input">
        
                    <label>H.Inicio:</label>
                    <input type="time" placeholder="9:00 - 2:00"
                      [(ngModel)]="horai"
                      name="hora">
                  </div>
                  <div class="horario-input">
        
                    <label>H.Fin:</label>
                    <input type="time" placeholder="9:00 - 2:00"
                      [(ngModel)]="horaf"
                      name="hora">
                  </div>
        
                  <button  type="button" class="boton" [disabled]="!dia
                    || !horai || !horaf" (click)="agregar_horario()">
                    Agregar</button>
                </div>
              
                <ul class="list-horario">
                  <li *ngFor="let horario of horarios">
                   
                    <label >{{horario.dia}}</label>
                    <label style="text-align: center;">{{horario.horai + ' - ' +
                      horario.horaf}}</label>
                      <i class="far fa-trash-alt" style="cursor: pointer;color: white;"  (click)="eliminar_horario(horario.idhorario,horario.dia)"></i>
                    
                   
                  </li>
                </ul>
        
        
        
              </form>
        
             
           
             </div>
           
       
        
        
        
      </div>
     
      
    </div>
   
    
  
   
  







  </div>
  <div class="toast" data-autohide="false" id="xdd">
    <div class="toast-header">
      <strong class="mr-auto text-primary">Toast Header</strong>
      <small class="text-muted">5 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
    </div>
    <div class="toast-body">
      Some text inside the toast body
    </div>
  </div>

</body>
