 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
overflow: hidden;  
  width: 100vw;
  height: 100vh;
  position: relative;

}
body::after{
  content: '';
  width: 70%;
  border-radius: 285px;
  height: 79%;
  top: -12%;
  left: 44%;
  transform: rotate(-42deg);
  background: linear-gradient(0deg,#21487c 0,#0f3971);
  position: absolute;
}

.container{
  width: 33%;
  height: 90%;
  display: flex;
  padding: 40px;
  position: relative;
  top: 4%;
  left:4%;
 
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
}
.container h5{
  font-weight: bold;
  margin-bottom: 25px;
  position: relative;
}
.container h5::after{
  content: '';
  width: 100px;
  background: #0f3971;
  bottom: -5px;
  left: 0;
  height: 3px;
  position: absolute;
}
.container .info{
  font-size: 12px;
  color: gray;
  margin-bottom: 10px;
}

.input-style{
  width: 100%;
  min-height: 60px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.input-style i{
  min-width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  justify-content: center;
}
.input-style label{
  position: absolute;
  width: 85%;
  top: 10px;
  left: 15%;
  font-size: 11px;
  color: #b0b3be;
  display: flex;
  align-items: center;

  transition: color .3s , font-weight .2s;
  
  height: 25%;
}
.input-style input{
  width: 100%;
    
    border: 0;
    font-size: 13px;
    padding-right: 50px;
    padding-left: 15%;
    padding-top: 15px;
    font-weight: 500;
    outline: none;
    height: 100%;
  
}
.input-style i{
  color: #b0b3be;
  position: absolute;
  left: 0px;
}
#show {
position: absolute;
top: calc(50% - 9px);
left: calc(100% - 55px);
width: auto;
height: auto;
}
input:focus  .input-style  {
  background-color: #eef2f5;
}
.registrar{
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;

}
.login-btn{
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 7px 25px;
  font-size: 14px;
  border: none;
  outline: none;
  background: #0f3971;
  color: white;
  border-radius: 10px;
  transition: all .3s;
}
.login-btn:hover{
  transform: scale(1.01);
  background: #0f3971;
}
a{
  color: #19d8da;
  width: 100%;
  text-align: end;
  font-size: 13px;
  margin-top: 10px;
}
.register {
  display: none;
}
a:hover{
  color: #19d8da;
}
.logo{
  width: 120px;
  position: absolute; 
  top: 2%;
 left: 90%;
 z-index: 9;
}

.fondo {
  position: absolute;
  z-index: 9;
  color: white;
  top: 43%;
  left: 53%;
  width: 504px;
}
.fondo h6{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  position: relative;
}
.fondo h6::after{
  content: '';
  position: absolute;
  width: 150px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  bottom: -8px;
  left: 0;
}
.fondo button{
  padding: 10px 25px;
  color: #19d0de;
  background-color: white;
  border-radius: 25px;
  border: none;
  margin:  0 auto;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 35px;
  margin-left: 100px;
}
/* body::after{
  content: "";
   position: absolute;
   height: 2000px;
   width: 2000px;
   top: -10%;
   right: 40%;
   transform: translateY(-50%);
   background-image: linear-gradient(-220deg, #109b9b 0%, #15d696 100%);
   transition: 1.8s ease-in-out;
   border-radius: 50%;
   z-index: 3;

  
 } */
 .input-style input:focus ~ label{
   color: #00ccbe;
   font-weight: 600;
 }
 .separador{
   display: none;
 }
 
/* body::before{
  content: "";
   position: absolute;
   height: 2000px;
   width: 2000px;
   top: -10%;
   right: 36%;
   transform: translateY(-50%);
   background-image: linear-gradient(-45deg, #14ca9763 0%, #38d3a458 100%);
   transition: 1.8s ease-in-out;
   border-radius: 50%;
   z-index: 3;

  
 } */

 #btn-home{
   position: absolute;
   z-index: 9;
   top: 2%;
  padding: 5px 15px;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;

   left: 1%;
 }

 #btn-home::before{
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  display: block;
  border-radius: 50%;
  background: #0f3971;
  width: 34px;
  height: 34px;
  z-index: -1;
  transition: all .3s ease;
 }
 #btn-home:hover::before{
   width: 100%;
   border-radius: 20px;
 }


 @media only screen and (max-width: 1350px) {
   body::after{
    top: -8%;
    left: 44%;
   }
  .fondo h6{
     font-size:21px;
  }
  .fondo label{
font-size: 14px;
  }

  .container{
    width: 40%;
  }
}

@media only screen and (max-width: 1024px) {
   
 body::after{
  top: -6%;
  left: 47%;
 }
 .logo{
   left: 69%;
 }
 .container{
   width: 45%;
 }
}
@media only screen and (max-width: 997px) {
   body::after{
     content: none;
   }
   #btn-home{
    

    z-index: 13;
    top: 2%;
    left: 2%;

   }
  body{
  background-color:white;
  overflow: auto;
  }
  .logo{
  display: none; 
  }
  .fondo{
    display: none;
  }
  .fondo button{
    position: absolute;
    color: black;
  }
  .container{
    min-width: 90%;
    height: max-content;
    
    margin: 0 auto;
    left: 0;
  }
  .register{
    width: 150px;
    position: absolute;
    display: block;
    background-color: transparent;
    font-size: 14px;
    color: #0f3971;
    padding: 2px 10px;
    border: none;
    left: calc(100% - 180px);
    z-index: 12;
    top: 2%;
  }
 }
 

 @media only screen and (max-width: 425px) {
  .separador{
    display: block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    position: relative;
  }
  .separador::after,.separador::before{
    content: "";
    height: 1px;
    width: 45%;
    background-color: #0f3971;
    position: absolute;
  }
  .separador::after{
    left: 55%;
    top: calc(50% - 0.5px);
  }
  .separador::before{
   left: 0;
   top: calc(50% - 0.5px);
  }
  .container{
    padding-left: 5px;
    padding: 40px 10px 50px 10px;
    justify-content: flex-start;
  
    padding-right: 5px;
    top: 0;
    
  }
  .register{

   
   width: 97%;
   position: absolute;
   display: block;
   background-color: #0f3971;
   font-size: 14px;
   color: white;
   padding:8px 15px;
   border: none;
   border-radius: 10px;
   left: 1.5%;
   top: 92%;
   z-index: 12;

 }
  #btn-home{
    display: none;
  }
  .input-style{
    min-height: 60px;
  }
  .input-style input{
    height: 50%;
  }
 }