<head>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
    />
    
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<app-spinner-loader *ngIf="cargando" [message]="message"></app-spinner-loader>
<body >
  <button id="btn-home" (click)="volver()">
    <i style="margin-right: 15px;" class="fas fa-home"></i>Home
  </button>
  <img class="logo" src="assets/homeassets/logo.png" alt="">
 <div class="fondo">
    <h6>¡Necesitamos tu ayuda!
    </h6>
    <label for="">Si estás interesado en ayudar a personas que lo necesitan, puedes contactarte con nosotros. Si ya eres miembro de alguna de nuestras sedes o trabajas con nosotros , registrate a través de este enlace.
    </label>
  <button  [routerLink]="['/home/reg_dato_psicologo']">
    Registrate Aquí
  </button>
</div>
<button class="register" [routerLink]="['/home/reg_dato_psicologo']">
  Registrate Aquí
</button>

  <div class="container">
    
     <h5>¡Bienvenido de nuevo!</h5>
     <label class="info" >Para conectarte con nostros porfavor ingresa tus credenciales personales 🔔</label>
     <img style="margin: 0 auto;margin-bottom: 35px ;margin-top: 25px; width: 180px;" src="assets/homeassets/login.png"/>
     <div class="input-style">
       <i class="far fa-user"></i>
      
        <input
        type="text"
        class="username"
        [(ngModel)]="usuario.username"
        placeholder="example"
        />
        <label >Usuario</label>
       
      
    </div>
    <div class="input-style">
      <i class="fas fa-lock"></i>
      
      <input
      [type]="show_button ? 'text' : 'password'"
      class="password"
      [(ngModel)]="usuario.password"
      placeholder="**********"
      />
      <label>Contraseña</label>
        <i id="show"  (click)="changeicon()"  [class]="show_eye ? 'fas fa-eye-slash' : 'far fa-eye'"></i>
     
    </div>
    <a  href="home/forgot-password"   >¿Olvidó su contraseña?</a>
    
    <button class="login-btn" (click)="login()">Ingresar</button>
  </div>
</body>
