/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/saga-green/theme.css';

@import '../node_modules/primeng/resources/primeng.min.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, 
.mat-step-header .mat-step-icon-state-edit {
    background-color: cadetblue !important;
   color: white !important;
}

.mat-raised-button{
    background-color: #00a99d !important;
    color: white;
  }
 
  .p-tabview-nav {
  
    margin-left: 20vw !important;
    
}

.p-dialog .p-dialog-content {
  padding: 25px !important;
}
.p-dialog .p-dialog-header {
 
  background: #316b6b !important;
  color: #ffffff !important;
 
}

.p-datatable .p-datatable-tbody>tr>td {
  border-top-color: black !important;
   
    border-right-color: black !important;
  
    border-bottom-color: black !important;
  
    border-left-color: black !important;
    background-color: #53b4b4 !important;
    color: white !important;
   padding: 5px !important;
}

.p-datatable .p-datatable-footer, .p-datatable .p-datatable-thead>tr>th {
  background:transparent !important;
  color: #51b0b0 !important;
   
  padding: 5px !important;
  
}

.p-datatable table {
   padding: 10px !important;
    border-spacing: 0 8px !important;
    border-collapse: separate !important;
}

.p-datatable table tbody tr{
  box-shadow: 0 2px 50px rgb(0 0 0 / 10%) !important;

  background-color: white !important;
 
}


.p-datatable table tbody tr td:nth-child(1) {
	border-radius: 15px 0 0 15px ;
}
.p-datatable table tbody tr td:nth-last-child(1) {
	border-radius: 0 15px 15px 0 ;
}

.p-datatable-thead tr th:nth-child(1) {
	border-radius: 15px 0 0 15px ;
}
.p-datatable-thead tr th:nth-last-child(1) {
	border-radius: 0 15px 15px 0 ;
}




.p-dropdown{
  border:0 !important;
  color: #00a99d;
}

.p-dropdown .p-dropdown-trigger{
  color: teal !important;
}
.p-dropdown:not(.p-disabled).p-focus{
  box-shadow: none !important;
}