@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
  }

  body{
      width: 100%;
      height: 100%;
   
   background: #edf1f7;
      padding-top: 2%;
     
      padding-left: 20px;
      padding-right: 20px;

  }
  .container{
    min-width: 100%;
    min-height: 98%;
    max-height: 98%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
  }
  .clipboard{
    width: 80%;
    margin-top: 20px;
    max-width: 100%;
    border-radius: 8px;
    height: 35px;
    border: 0.0625rem solid #cbced2;
    display: flex;
    flex-direction: row;
}
.clipboard p{
    margin-bottom: 0;
    width: 60%;
    max-width: 60%;
    display: flex;
    font-size: 13px;
    padding: 0px 5px;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.clipboard button{
    max-width: 40%;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    overflow: hidden;
}
/* Left content */
.no-data{
   
    width: 70%;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cont-view-data{
    width: 69%;
    overflow: hidden;
    position: relative;
}
.view_data{

   width: 100%;
   height: 100%;
    /* margin-top: 50px; */
    /* margin-right: 50px; */
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 115px 1fr;
  
    /* border-radius: 10px; */
    border: 0.0625rem solid #e4e9f2;
    background-color: white;
}

.data_personal{
    display: flex;
    font-size: 14px;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.card-btns2{
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.card-btns2 button{
    width: 80%;
    height: 40%;
    font-size: 13px;
    margin: 0 auto;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    overflow: none;
    transition: transform .3s;
}
.title-d2{
    display: none;
}
.card-btns2 button:hover{
    transform: scale(1.02);
}
.card-btns2 button:nth-child(1){
   
    color: white;
    border: none;
    background:#f9a601;
}


.list_reports{
    
    grid-column: 1 / 3;
    overflow: hidden;
}

.title{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: black;
    background: transparent;
    padding-left: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.imgheader{
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 1px 4px 4px 0px rgba(0,0,0,0.2);
    height: 30px;
    width: 30px;
}


.list-aten{
    width: 100%;
    padding: 10px 10px;
}
.ver_atencion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: cornflowerblue;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ebecf0;
}

.info_ev{
    position: absolute;
    background: transparent;
    border: none;
    left: calc(98% - 13px);
    top: 50%;
    color: red;
}
.info_ev span{
    position: absolute;
    width: 360px;
    font-size: 13px;
    color: black;
    padding: 5px 10px;
    pointer-events: all;
    top: -55px;
    border-radius: 5px;
    background-color: #93e3d0;
    height: 50px;
    left: -307px;
  transform: scale(0);
   transition: transform .3s;
   transform-origin: 90% bottom;
}
.info_ev span::after{
    content: ' ';
    position: absolute;
    clip-path: polygon(100% 100%, 0 0, 100% 0);
    background-color: #93e3d0;
    left: 85%;
    bottom: -10px;
    width: 20px;
    height: 15px;
}
.info_ev:hover span{
     transform: scale(1);

}
.table .thead-dark th {
    background-color: #0f3971;
}
/*--------------------Registrar Atencion --------------*/
#register_aten.modal.show .modal-dialog {
    transform: none;
    max-width: 1000px;
}
#register_aten .modal-content{
    border-radius: 0px;
    overflow: hidden;
}
#register_aten .modal-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: -34px -7px;
  background-size: 20% 36%;
  background-image: url(https://us.123rf.com/450wm/swetlanas/swetlanas1905/swetlanas190500025/123747998-camino-de-pasos-de-pata-de-p%C3%A1jaro-negro-vector-aislado-sobre-fondo-blanco.jpg?ver=6);
  background-repeat: no-repeat;
}

#register_aten .form-sesion{
    width: 100%;
    position: relative;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
    background-color: white;
}
.form-sesion h5, .form-personal h5{
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #0f3971;
    padding: 10px 18px;
}

#register_aten .form-personal{
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
    background-color: white;
}                                                                                                                                               
#register_aten li{
    margin: 0;
    list-style: auto;
    list-style-position: inside;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    background-color: white;
    width: 100%;
    margin-bottom: 15px;
}
#register_aten li::marker{
    color: white;
    background: #00ccbe;
    padding: 10px;
    border-radius: 50%;
}   

#register_aten input:focus ,#register_aten textarea:focus{
    border-color: #0f3971;
}
.formulario{
    padding-left: 15px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.input-style{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-right: 15px;
}

.input-style input,.input-style textarea{
    border: 2px solid #ecefef;
    padding: 10px 10px 10px 10px;
    /* box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px; */
    width: 100%;
    border: 0.0625rem solid #e4e9f2;
    min-width: 50%;
    background: #edf1f7;
    font-size: 13.5px;
    outline: none;
    transition: border-color .3s;
} 

.input-style input{
    height: 45px;
}
.input-style textarea{
    height: 90px;
}
.input-style label{
    width: 100%;
    font-size: 12px;
    margin: 0;
    padding: 5px 10px;
    color: #0f3971;
}

.input-style select{    
    width: 100%;
    min-height: 45px;
    padding: 5px 5px 5px 5px;
    color: white;
    font-size: 13.5px;
    outline: none;
    border: none;
    background-color: 
    #f9a601;
}
.btns-form{
    width: 95%;
    margin: 0 auto;
    display: flex;   
    justify-content: center;
}
.btns-form button{
    width: 100%;
    border-radius: 4px;
    padding: 5px 15px;
    margin-right: 10px;
}

.btn-step{
    background-color: #0f3971;
    color: white;
    border: none;
}

.btn-step2{
    background-color: white;
    color: gray;
    border: 2px solid gray;
}
.btn-step:disabled,#cancelaratencion .btn-step:disabled{
    background-color: gray;
}


/*Cancel Modal*/
#cancelaratencion.modal.show .modal-dialog {
    transform: none;
    max-width: 540px;
}
#cancelaratencion h5 {
 font-size: 18px;
}
#cancelaratencion .btn-step{
    font-size: 14px;
    background-color: #52a2cb;
}
#cancelaratencion .btn-step2{
    font-size: 14px;
    background-color: white;
    color: #6e6e6e;
    border: 2px solid #b0b0b0;
}
#cancelaratencion select,#cancelaratencion textarea{
    padding: 5px 10px;
    font-size: 12px;
    border: 2px solid rgba(100, 100, 111, 0.2);
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    background: white;
    outline: none;
    border-radius: 5px;
    color: #444;
}

/*List de cards*/
.list-pac{
        
        width: 30%;
        max-height: 83%;
        overflow-y: auto;
        background: white;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        padding: 15px 5px;
        border: 0.0625rem solid #e4e9f2;
}

.list-pac::-webkit-scrollbar {
    width:  3px;
    height: 4px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
 }
  .list-pac::-webkit-scrollbar-track {
    background: transparent;
  }
  .list-pac::-webkit-scrollbar-thumb {
    background-color: #dbeaff;
    border-radius: 1px;
  }

/*Card 2 style */
.card2{
    min-height: 150px;
    display: flex;
    margin: 0 auto;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 5px;
    flex-direction: row;
    background-color: white;
    border: 1px solid #dee2e6;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    overflow: hidden;
    transition: transform .3s;
}
.card2 .left{
    width: 23%;
    border-right:1px solid #dee2e6 ;
    word-spacing: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card2 .rigth{
    display: flex;justify-content: center;
    width: 77%;
    flex-direction: column;
    padding: 5px 10px 0px 10px;
}
.card2 .rigth label:first-child{
    font-weight: 600;font-size: 13px;color: #777;
}
.card2 .rigth label:nth-child(2){
    font-size: 13px; color: #a8a8a8;max-height:40px;overflow: hidden;
}
.card2 .rigth label:nth-child(3){
    width: 100%;text-align: center;color: #29b2e2;font-size:
            13px;margin-bottom: 0px;margin-top: 10px;
}
.card2:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1.01);
}

.card2 .category{
    margin-left: 15px;text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 90px;
    padding: 1px 10px;
    border-radius: 10px;
    color: white;
  
}
.card2.xdd{
    background-color: #0f3971 !important;
    color: white;
}
.card2.xdd label:first-child{
    color: white !important;
}
.card2.xdd label:nth-child(2){
    color: white !important;
}
/*       QUIZZZZZ       */
.quizz{
    width: 100%;
    list-style: none;
    padding: 20px;
}
.question{
    display: flex;
    flex-direction: row;
    font-size: 14.5px;
}
.question label:first-child{
   width: 90%;
   padding: 5px 5px;
   border: 1px solid;
   margin: 0;
}
.question label:last-child{
    width: 10%;
    margin: 0;
    border: 1px solid;
    text-align: center;
}

/*Modal Ver observaciones*/
.input-style2{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}
.input-style2 label{
    min-width: 200px;
    font-size: 13px;
    color: #0f3971;
}
.input-style2 textarea{
  
    padding: 10px 10px 10px 10px;
    width: 100%;
    border: 0.0625rem solid #e4e9f2;
    min-width: 50%;
    background: #edf1f7;
    font-size: 13.5px;
    outline: none;
    transition: border-color .3s;
}



/**    PANEL PrINCIPAL */
.info_paciente{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    width: 85%;
    padding-left: 10px;

    height: 100%;
}
.name{
    font-weight: bold;
    max-width: 180px;
    overflow: hidden;
   
    font-size: 14px;
    text-align: center;
    color: #5f6668;
}
.paciente_data{
    display: flex;
    flex-direction: row;
}

.info_paciente .category{
    font-size: 12px;
    font-weight: bold;
    width: 66px;
    padding: 1px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    border-radius: 10px;
    color: white;
  
}
.info_paciente .date{
    font-size: 12px;
    width: 100px;
    padding: 1px 10px;
    display: flex;
    font-weight: bold;
    background-color: #cddcf0;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    border-radius: 10px;
    color: #0f3971;


}
.info_paciente .paciente_data_2 label{
    color: #9797a5;
    margin-left: 15px;
    font-size: 13px;
    font-weight: 600;
}



#ver_hist .nav-tabs .nav-item.show .nav-link,#ver_hist .nav-tabs .nav-link.active {
    color: black;
    font-weight: bold;
    border-radius: 5px;
    flex-direction: column;
    background: #00ccbe;
    color: white;
    /* border-bottom: 5px solid #18e4d5; */
    height: 60px;
}
#ver_hist .nav-tabs .nav-item.show .nav-link,#ver_hist .nav-tabs .nav-link{
    color: white;
    font-size: 14px;
    width: 140px; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border: none;
    background-color: #fff;
    border: none;
}
.view_data .nav-tabs .nav-item.show .nav-link,.view_data .nav-tabs .nav-link.active {
    color: black;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
    border: none;
    border-bottom:5px solid #0f3971;
}
.view_data .nav-tabs .nav-item.show .nav-link,.view_data .nav-tabs .nav-link{
    color: #5f6668;
    font-size: 14px;
    background-color: #fff;
    border: none;
}
.nav-tabs {
     border-bottom: none; 
}
.tab-content{
    max-height: 93%;
    background-color: #fafcfb;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 25px 25px;
    overflow-y: auto;
}

.datos_consulta{
    width: 90%;
    margin: 0 auto;
    height: 40%;
    margin-bottom: 35px;
}
.datos_consulta h6{
    font-weight: bold;
    font-size: 12px;
    color: #777;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #dee2e6;
    margin-bottom: 0;
}
.datos_consulta .bottom{
    border: 1px solid #dee2e6;
    display: flex;
    flex-direction: row;
    border-radius: 0px 0px 5px 5px;
    height: auto;
}
.bottom .pt1{
 width: 65%;
 display: flex;
 flex-direction: column;
 height: 100%;
}
.pt1 div{
    height: 50%;display: flex;flex-direction: column;
}
.pt1 div label:first-child{
color: #0f3971;
padding: 5px 15px;
font-weight: bold;
font-size: 14px;
margin-bottom: 0px;
}
.pt1 div label:last-child{
    font-size: 13px;
    padding-left:45px;
}
.pt1 div i{
    color: white;
    background-color: #f9a601
    ;
    margin-right: 15px;
    border-radius: 3px;
    font-size: 12px;
    padding: 2px 4px;
    text-align: center;
}
.bottom .pt2{
    width: 35%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #dee2e6;
}
.bottom .pt2 button{
    width: 80%;
    height: 25%;
    font-size: 14px;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}
.pt2 button:first-child{
    background: #0f3971;
}
.pt2 button:last-child{
    background-color: #444;
}
.tab-pane{
    height: 100%;
}
h6{

        padding: 10px 25px;
}

.list-reportes h6{
        color: black;
        padding-bottom:0px ;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 0;
}

.test{
    position: absolute;
    top: -1px;
    right: 0;
    border-radius: 0;
    font-size: 30px;
    color: #18dbd9;
   
}

.hist_img{
    width: 45%;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #00ccbe;
}
#ver_hist .modal-dialog {
    max-width: 1000px;
}
#ver_hist .content{
    height: auto;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 40% 60%;

}
#ver_hist .left{
    grid-row: 1/3;
    padding: 10px 10px;
    border-radius: 10px;
    grid-column: 1/2;
    background-color: #0f3971;
}
#ver_hist .left .estado{
    width: 100%;
    height: 7%;
    border: 2px solid #f9a601;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
    color: #f9a601;
    margin-bottom: 0px;

}
.asig_data{
    width: 100%;
    height: 70%;
    padding: 15px 0px 0px 0px;
}
.info_style{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
}
.info_style input,.info_style textarea{
    background-color: white;
    color: #66615b;
    cursor: not-allowed;
    border: 1px solid #b4b4b4;
    border-radius: 4px;
    line-height: normal;
    font-size: 13px;
    box-shadow: none;
    padding: 10px;
    height: unset;
    opacity: 1;
}
.info_style label:first-child{
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 500;
    padding-left: 2px;
    color: #788;
    text-transform: uppercase;
}
.info_style label:last-child{
    font-size: 12px;
    margin-bottom: 5px;
    padding-left: 5px;
    color: white;
}
.info_style p{
    font-size: 15px;
}
#ver_hist .top{
    grid-row: 1/2;
    padding: 0px 15px;
    grid-column: 2/4;
}
#ver_hist .top .img{
    width: 30%;
}

#ver_hist .top .data{
    padding: 0px 0px 0px 40px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
#ver_hist .top h6 , #ver_hist .rigth h6{
    border-radius: 10px;
    background: #0f3971;
    color: white;
    font-weight: normal;
}
#ver_hist .rigth{
    padding: 0px 10px;

    grid-row: 2/3;
    grid-column: 2/4;
}



.directorio{
    text-align: end;
    padding-right: 10px;
    font-size: 14px;
    min-width: 40%;
 }
 @media only screen and (max-width: 1305px) {
    .title-d2{
        display: block;
        font-size: 13px;
        font-weight: bold;
        color: black;
        margin-bottom: 10px;
        padding-left: 25px;
        background: transparent;

        text-transform: uppercase;
    }
    .title{
        display: none;
    }
  .container{
    max-height: max-content;
      flex-direction: column-reverse;
      justify-content: flex-end;
  }
  .list-pac{
      width: 100%;
      margin-left: 0;
      flex-direction: row;
      padding-bottom: 0;
      padding-left: 15px;
      margin-bottom: 15px;
  }
.cont-view-data{
      width: 100%;
    
  }
  .no-data{
      width: 100%;
  }
  .card2{
    max-width: 35%;
    min-width: 35%;
   margin-left: 0;
      margin-right: 15px;
  }
 }
 @media only screen and (max-width: 1024px) {
   
    .card2{
        max-width: 50%;
        min-width: 50%;
    }
    }
 

   @media only screen and (max-width: 768px) {
   
    .card2{
        max-width:90%;
        min-width: 90%;
    }
    .datos_consulta .bottom{
        flex-wrap: wrap;
    }
    .datos_consulta .bottom .pt1,.datos_consulta .bottom .pt2{
        width: 100%;
    }
    }




   